<section class="full-box cover dashboard-sideBar">
    <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
    <div class="full-box dashboard-sideBar-ct">
    <!--SideBar Title -->
    <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title"> Hospital<i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i></div>
    <!-- SideBar User info -->
    <div class="full-box dashboard-sideBar-UserInfo">
        <figure class="full-box">
            <img src="/assets/img/user01.png" alt="UserIcon">
            <figcaption class="text-center text-titles">User Name</figcaption>
        </figure>
        <ul class="full-box list-unstyled text-center">
            <li>
                <a href="#!"><i class="zmdi zmdi-settings"></i></a>
            </li>
            <li>
                <a href="#!" class="btn-exit-system"><i class="zmdi zmdi-power"></i></a>
            </li>
            </ul>
    </div>
    
    