<!DOCTYPE html>
<html lang="es">
<head>
	<title>Antecedentes</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("../partials/head") -%>
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- SideBar Menu Hospital-->
    <ul class="list-unstyled full-box dashboard-sideBar-Menu">
		<li>
			<a href="/emergencia/homeEmergencia/">
			<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Home</a>
		</li>
		<!-- Emergencias -->
		<li>
			<a href="#!" class="btn-sideBar-SubMenu">
			<i class="zmdi zmdi-hospital zmdi-hc-fw"></i> Emergencias <i class="zmdi zmdi-caret-down pull-right"></i>		</a>
			<ul class="list-unstyled full-box">
				<li><a href="/emergencia/dataEmergencia/"><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i>Listas de citas</a></li>
			</ul>
		</li>
	</ul>
	<%- include("partials/menuFooter") -%>
	<!-- Content page-->
<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar">
		<ul class="full-box list-unstyled text-right">
			<li class="pull-left">
		    	<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
			</li>
		</ul>
	</nav>
	<!-- Content page -->
	<div class="container-fluid col-md-12" id="">
		<div class="page-header  col-md-6">	
			<h1 class="text-titles"><i class="zmdi zmdi-hospital zmdi-hc-fw"></i> Antecedentes<small></small></h1>  
		</div><br><br>
		<div class="btn-group  col-md-3">
			<button type="button" class="btn btn-info btn-raised"
				data-toggle="dropdown">
			  Detalles del Paciente <span class="caret"></span>
			</button>
			
			<ul class="dropdown-menu" role="menu">
				<li class="menu__item">
					<a href="/emergencia/datos_responsablevis" class="menu__link">Datos de responsable</a>
				</li>
				<li class="menu__item">
					<a href="/emergencia/antecedentesvis" class="menu__link">Antecedentes</a>
				</li>
				<li class="menu__item">
					<a href="/emergencia/alergiasvis" class="menu__link">Alergia</a>
				</li>
				<li class="menu__item">
					<a href="/emergencia/examenFisicovis" class="menu__link">Examen General</a>
				</li>
				<li class="divider"></li>
			  
			</ul>
		  </div> 
	   
		<div id="" class="col-md-2">
	
			<div class="">
				<a href="/emergencia/volver" class="btn btn-success btn-raised btn-lg"><i class=""></i>Atras</a>	
			</div>
		
		</div>
	</div>
	<!-- Antecedentes -->
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade active in" id="new">
		  <div class="container-fluid">
			<div class="row">
			
			  <form action="" method="POST">
				
				<p>Datos del Paciente</p>
				<div class="grupo" id="cabeza">
				  <div id="tres2">
					<div class="entrada">Apellido Paterno :<br>
					  <input type="text" name="" value=""><br>
					</div>
					<div class="entrada">Apellido Materno :<br>
					  <input type="text" name="" value=""><br>
					</div>
					<div class="entrada">Nombre(s) :<br>
					  <input type="text" name="" value=""><br>
					</div>
				  </div>
				</div>
				<br>
				<p>Antecedentes </p>
				<div class="grupo" id="cabeza">
				  	<div id="tres2">
						<div class="entrada">Fecha:<br>
					  		<input  type="date" name="" require><br>
						</div>
						<div class="entrada">Antecedes Patologicos:<br>
					  		<input type="text" name="" value="" size="20"><br>
						</div>
						<div class="entrada">Antecedes Patologicos de riesgo:<br>
					  		<input type="text" name="" value=""size="10"><br>
						</div>
					</div>
					<div id="tres2">
						<div class="entrada">Antecedes de Familiares:<br>
							<input type="text" name="" value="" size="20"><br>
					  	</div>
						<div class="entrada">Antecedes de Patologicos:<br>
					  		<input type="text" name="" value="" size="20"><br>
						</div>
						<div class="entrada">Antecedes no Patologicos:<br>
					  		<input type="text" name="" value=""size="10"><br>
						</div>
						
					</div>
					<div id="tres2">
						<div class="entrada">Gineco Obstretico:<br>
							<input type="text" name="" value=""size="10"><br>
						</div>
						<div class="entrada">Descripción:<br>
							<input type="text" name="" value=""size="10"><br>
					  	</div>  
					</div>
				
				</div>
				<br>
				
				<br>
				
				  
				  <p class="text-center">
					  <button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
					  <button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
				  </p>
				</form>
				<div class="table-responsive">
					<h3 class="text-center all-tittles">LISTA DE AlERGIAS</h3>
					<div class="table-wrapper">
						<div id="correo">
							<div class="entrada">
								<button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success btn-raised btn-lg"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
							</div>
							<div class="entrada">Buscar <i class="zmdi zmdi-search"></i><br>
								<input type="text" id="searchInput" placeholder="Buscar.."><br>
							</div>
						</div>
						<table class="fl-table" id="myTable">
							<thead>
								<tr>
								<th>#</th>
								<th>Fecha</th>
								<th>Medicamentos</th>
								<th>Otros</th>
								<th>Dar de baja </th>
								
								</tr>
							</thead>
							<tbody>
						
								<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td><a href="" class="btn btn-info btn-raised btn-xs "><i class="zmdi zmdi-refresh-alt"></i></a></td>
								
								</tr>
								
							<tbody>
						</table>
					</div>
				</div>
				                                                                         
			                          
		  </div>
		</div>
	  </div>
	</div>
</section>
	<!--====== Scripts -->
	<%- include("../partials/scripts") -%>
</body>
</html>