<!DOCTYPE html>
<html lang="es">
<head>
	<title>Examen Fisico</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("../partials/head") -%>
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- SideBar Menu Hospital-->
    <ul class="list-unstyled full-box dashboard-sideBar-Menu">
		<li>
			<a href="/emergencia/homeEmergencia/">
			<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Home</a>
		</li>
		<!-- Emergencias -->
		<li>
			<a href="#!" class="btn-sideBar-SubMenu">
			<i class="zmdi zmdi-hospital zmdi-hc-fw"></i> Emergencias <i class="zmdi zmdi-caret-down pull-right"></i>		</a>
			<ul class="list-unstyled full-box">
				<li><a href="/emergencia/dataEmergencia/"><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i>Listas de citas</a></li>
			</ul>
		</li>
	</ul>
	<%- include("partials/menuFooter") -%>
	<!-- Content page-->
<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar">
		<ul class="full-box list-unstyled text-right">
			<li class="pull-left">
		    	<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
			</li>
		</ul>
	</nav>
	<!-- Content page -->
	<div class="container-fluid col-md-12" id="">
		<div class="page-header  col-md-6">	
			<h1 class="text-titles"><i class="zmdi zmdi-hospital zmdi-hc-fw"></i> Epicrisis<small></small></h1>  
		</div><br><br>
		<div class="btn-group  col-md-3">
			<button type="button" class="btn btn-info btn-raised"
				data-toggle="dropdown">
			  Detalles del Paciente <span class="caret"></span>
			</button>
			
			<ul class="dropdown-menu" role="menu">
				<li class="menu__item">
					<a href="" class="menu__link">Datos de responsable</a>
				</li>
				<li class="menu__item">
					<a href="" class="menu__link">Antecedentes</a>
				</li>
				<li class="menu__item">
					<a href="" class="menu__link">Alergia</a>
				</li>
				<li class="menu__item">
					<a href="" class="menu__link">Examen General</a>
				</li>
				<li class="divider"></li>
			  
			</ul>
		  </div> 
	   
		<div id="" class="col-md-2">
	
			<div class="">
				<a href="" class="btn btn-success btn-raised btn-lg"><i class=""></i>Atras</a>	
			</div>
		
		</div>
	</div>
	<!-- Epicrisis-->
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade active in" id="new">
		  <div class="container-fluid">
			<div class="row">
			  <div class="col-xs-12">
			  <form action="" method="POST">
				<div class="grupo" id="cabeza">

				<p>Datos del Paciente </p>
				  <div id="tres2">
					<div class="entrada">Nombre Completo:<br>
					  <input type="text" name="" value=""><br>
					</div>
					<div class="entrada">CI.:<br>
					  <input type="text" name="" value=""><br>
					</div>
					<div class="entrada">Sexo:<br>
					  <input type="text" name="" value=""><br>
					</div>
				  </div>
			
				</div>
				<br>
				<p>Diagnostico de:</p>
				<div class="grupo" id="cabeza">
				  <div id="tres2">
					<div class="entrada">Admición:<br>
						<input type="text" name="" value=""size="10"><br>
					</div>
					<div class="entrada">Egreso:<br>
						<input type="text" name="" value=""size="10"><br>
					</div>
				  </div>
			
				</div>
				<br>
				<p>Examenes Complementarios de Diagnosticos realizados </p>
				<div class="grupo" id="cabeza">
				  <div id="tres2">
					<div class="entrada">Diagnostico:<br>
					  <input type="text" name="" value=""><br>
					</div>
				  </div>
			  
				</div>
				<br>
				
				<p>Detalles del Epicrisis</p>
				<div class="grupo" id="cabeza">
					<div class="panel with-nav-tabs panel-default">
						<div class="panel-heading">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab1default" data-toggle="tab">Tratamiento Quirurgico</a></li>
								<li><a href="#tab2default" data-toggle="tab">Tratamiento Médico</a></li>
								<li><a href="#tab3default" data-toggle="tab">Complicaciones</a></li>
								<li><a href="#tab4default" data-toggle="tab">Control y Tratamiento a Seguir</a></li>
								<li><a href="#tab4default" data-toggle="tab">Recomendaciones</a></li>
							</ul>
						</div>
						<div class="panel-body">
							<div class="tab-content">
								<div class="tab-pane fade in active" id="tab1default"><textarea class="large-compact" name="anamnesis"  cols="100" rows="10"></textarea></div>
								<div class="tab-pane fade" id="tab2default"><textarea class="large-compact" name="diagnostico" cols="100" rows="10"></textarea></div>
								<div class="tab-pane fade" id="tab3default"><textarea class="large-compact" name="tratamiento"  cols="100" rows="10"></textarea></div>
								<div class="tab-pane fade" id="tab4default"><textarea class="large-compact" name="observaciones" cols="100" rows="10"></textarea></div>
								<div class="tab-pane fade" id="tab4default"><textarea class="large-compact" name="observaciones" cols="100" rows="10"></textarea></div>
							</div>
						</div>
					</div>
				</div> 
				  
				  <p class="text-center">
					  <button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
					  <button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
					  <button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Imprimir</button>
				  </p>
				</form>

				                                                                         
			  </div>                          
		  </div>
		</div>
	  </div>
	</div>
</section>
	<!--====== Scripts -->
	<%- include("../partials/scripts") -%>
</body>
</html>