<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Areas de Hospitalizacion</title>
    <link rel="stylesheet" href="/css/HomeInt.css">
</head>
<body>
   <!-- <nav>
        <ul>
          <li>
            home
            <span></span><span></span><span></span><span></span>
          </li>
            <a href="/internaciones/hospitalizacion">
                <li>
                  Doctor
                  <span></span><span></span><span></span><span></span>
                </li>
            </a>          
          <li>
            Enfermera
            <span></span><span></span><span></span><span></span>
          </li>
        </ul>
    </nav>  -->

    <div class="cards-list">
      <%for(var i = 0; i< resp.length; i++) { %>
      <div class="card 1">
        <div class="card_image">
          <img src="/assets/img/giphy.webp" />
          </div>
          <br>
          
        <div class="card_title title-black">
          <p>
            <a href="/internaciones/hospitalizacion/<%=resp[i].nombre%>"><%=resp[i].nombre%></a>
          </p>
          
        </div>
      </div>	
      <% } %>	
    </div>
      
</body>
</html>