<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vista temporanea</title>
    <link rel="stylesheet" href="/css/viewTemporal.css">
</head>
<body>
    <nav>
        <ul>
          <li>
            home
            <span></span><span></span><span></span><span></span>
          </li>
            <a href="/internaciones/hospitalizacion">
                <li>
                  Doctor
                  <span></span><span></span><span></span><span></span>
                </li>
            </a>          
          <li>
            Enfermera
            <span></span><span></span><span></span><span></span>
          </li>
        </ul>
    </nav>    
</body>
</html>