<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Table Prueba</title>
</head>
<body>
  <h1>aljand table</h1>
  
  <div id="app">

      <div class="panel panel-default">
        <div class="panel-heading" style="font-weight:bold"><span class="glyphicon glyphicon-align-justify"></span> All Resources</div>
        <div class="row">
            <div class="search-wrapper panel-heading col-sm-12">
                <input class="form-control" type="text" v-model="searchQuery" placeholder="Search" />
            </div>                        
        </div>
        <div class="panel-body" style="max-height: 400px;overflow-y: scroll;">
          <table v-if="resources.length" class="table">
              <thead>
                  <tr>
                      <th>Resource</th>
                  </tr>
              </thead>
              <tbody>
                  <tr v-for="item in filteredResources">
                      <td><a v-bind:href="item.uri" target="_blank">{{item.title}}</a></td>
                      <td><a v-bind:href="item.uri" target="_blank">{{item.category}}</a></td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
   </div>
   

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          searchQuery:'',
        resources:[
        {title:"aaa",uri:"aaaa.com",category:"zzz",icon:null},
         {title:"add",uri:"aaaa.com",category:"aljand",icon:null},
          {title:"aff",uri:"aaaa.com",category:"a",icon:null},
        {title:"bbb",uri:"bbbb.com",category:"b",icon:null},
        {title:"bdd",uri:"bbbb.com",category:"b",icon:null},
        {title:"bsb",uri:"bbbb.com",category:"b",icon:null},
        {title:"ccc",uri:"cccc.com",category:"15515",icon:null},
        {title:"ddd",uri:"dddd.com",category:"d",icon:null}
        ]
        };
      },
      computed: {
        filteredResources (){
          if(this.searchQuery){
          return this.resources.filter((item)=>{
            return item.title.startsWith(this.searchQuery) || item.category.startsWith(this.searchQuery)
          })
          }else{
            return this.resources;
          }
        }
      }
    
    
    })
  </script>
</body>
</html>