
<section class="full-box cover dashboard-sideBar">
        
        
    <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
    <div class="full-box dashboard-sideBar-ct">
    <!--SideBar Title -->
    <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title"> Hospital<i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i></div>
    <!-- SideBar User info -->
    <div class="full-box dashboard-sideBar-UserInfo dashboard-sideBar-imag cover">
        <div class="full-box cover dashboard-sideBar-ctt ">
        <figure class="full-box">
            <img src="/assets/img/usuarioooo.png" alt="UserIcon">
            <figcaption class="text-center text-titles">User Name</figcaption>
        </figure>
        <ul class="full-box list-unstyled text-center">
            <li>
                <a href="#!"><i class="zmdi zmdi-settings"></i></a>
            </li>
            <li>
                <a href="#!" class="btn-exit-system"><i class="zmdi zmdi-power"></i></a>
            </li>
        </ul>
        </div>
    </div>
    <!-- SideBar Menu Hospital-->
    <ul class="list-unstyled full-box dashboard-sideBar-Menu">
 
 

    <li>
        <a href="/medico/medico">
            <i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Home
        </a>
    </li>
    <!-- Consultas -->	

    <li>
        <a href="#!" class="btn-sideBar-SubMenu">
            <i class="zmdi zmdi-file-plus zmdi-hc-fw"></i> Consultas externas <i class="zmdi zmdi-caret-down pull-right"></i>
        </a>
        <ul class="list-unstyled full-box">
            <li><a href="/medico/listfalseConsulta/consultaMedica"><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i>Listas de citas</a></li>
                      
        </ul>
    </li>


    </ul>
    </div>
    
</section>

