<div class="left_nav">

    <!--\\\\\\\left_nav start \\\\\\-->
    <div class="left_nav_slidebar">
        <ul>
            <li ><a href="javascript:void(0);"><i
                        class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span
                        class="plus"><i class="fa fa-plus"></i></span> </a>
                <ul>
                    <li> <a href="/paciente/home/<%=data_token.token_id%>/<%=data_token.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b>Inicio</b>
                        </a> 
                    </li>
                </ul>
            </li>
        
            <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Fichas Médicas <span
                        class="plus"><i class="fa fa-plus"></i></span></a>
                <ul class="opened" style="display:block">
                    <li> <a href="/paciente/citas/<%=data_token.token_id%>/<%=data_token.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b class="theme_color">Citas Médicas</b> </a></li>
                    <li>  <a href="/paciente/listasdeCitas"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b>Listas de Citas</b> </a>  </li>

                </ul>
            </li>
    

        </ul>
    </div>
</div>