<section class="full-box cover dashboard-sideBar">
    <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
    <div class="full-box dashboard-sideBar-ct">
    <!--SideBar Title -->
    <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title"> Hospital<i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i></div>
    <!-- SideBar User info -->
    <div class="full-box dashboard-sideBar-UserInfo">
        <figure class="full-box">
            <img src="/assets/img/user01.png" alt="UserIcon">
            <figcaption class="text-center text-titles">User Name</figcaption>
        </figure>
        <ul class="full-box list-unstyled text-center">
            <li>
                <a href="#!"><i class="zmdi zmdi-settings"></i></a>
            </li>
            <li>
                <a href="#!" class="btn-exit-system"><i class="zmdi zmdi-power"></i></a>
            </li>
            </ul>
    </div>
    <!-- SideBar Menu Hospital-->
    <ul class="list-unstyled full-box dashboard-sideBar-Menu">
    <!-- Administracion del Sistema -->
    
    <!-- Historiales Clinicos -->	
    	
    <!-- Consultas -->	
    
    <!-- home o inicio -->
    <li>
        <a href="/cuaderno/cuaderno">
            <i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Home
        </a>
    </li>
   
    <!-- Farmacia -->
    <li>
            <a href="#!" class="btn-sideBar-SubMenu">
                <i class="zmdi zmdi-shopping-cart-plus zmdi-hc-fw"></i> Farmacia <i class="zmdi zmdi-caret-down pull-right"></i>
            </a>
            <ul class="list-unstyled full-box">
                <li><a href="/almacen"><i class="zmdi zmdi-store zmdi-hc-fw"></i>Almacen</a></li>
                <li><a href="/ventas"><i class="zmdi zmdi-shopping-cart zmdi-hc-fw"></i>Ventas</a></li>
                <li><a href="/inventariosFar"><i class="zmdi zmdi-file-plus zmdi-hc-fw"></i> Inventario</a></li>
            </ul>
        </li>
    
    <li>
        <a href="#!" class="btn-sideBar-SubMenu">
            <i class="zmdi  zmdi-chart zmdi-hc-fw"></i> Reportes <i class="zmdi zmdi-caret-down pull-right"></i>
        </a>
        <ul class="list-unstyled full-box">
            <li><a href="school.html"><i class="zmdi zmdi-file zmdi-hc-fw"></i> Solicitud de Pedidos</a></li>
            <li><a href="/proveedores"><i class="zmdi zmdi-male-female zmdi-hc-fw"></i> Provedores</a></li>
            <li><a href="school.html"><i class="zmdi zmdi-file-plus zmdi-hc-fw"></i> Reportes</a></li>
        </ul>
    </li>
    </ul>
    </div>
</section>