<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
				<h1 class="text-titles"><i class="zmdi zmdi-dns zmdi-hc-fw"></i> Almacenamiento </h1>
			</div>
		</div>
		<p class="text-center"><div class="entrada">
			<button class="modal-open btn btn-info btn-raised btn-lg"  
			data-modal="<h3 class='text-center'>REGISTRO DE PRODUCTO </h3>
				<form  action='' method='post' >
					<div id='tres2'>
						<div class='entrada'>Grupo de Asignacion:<br>
							<input type='text' name='grupAsig><br>
						</div>
						<div class='entrada'>Codigo de Producto:<br>
							<input type='text'name='codigo_producto'><br>
						</div>
						<div class='entrada'>Nombre del Producto:<br>
							<input type='text' name='codigo_producto'><br>
						</div>
					</div>
					<div id='tres2'>
						<div class='entrada'>Descripcion:<br>
							<input type='text' name='descripcion'><br>
						</div>
						<div class='entrada'>Unidad de Medida:<br>
							<input type='text' name='unidad'><br>
						</div>
						<div class='entrada'>Receta de Medicamento:<br>
							<input type='text' name='unidad'><br>
						</div>
					</div>
					<div id='cuatro'>
						<div class='entrada'>Forma Farmaceutica:<br>
							<input type='text' name='forma'><br>
						</div>
						<div class='entrada'>Presentacion:<br>
							<input type='text' name='presentacion'><br>
						</div>
						<div class='entrada'>Venta Sujeta:<br>
							<input type='text' name='venta_sujeta'><br>
						</div>
						<div class='entrada'>Estado:<br>
							<select  name='estado'>
								<option>Activo</option>
								<option>Desactivo</option>
							</select><br>
						</div>
					</div>
					<div id='cuatro'>
						<div class='entrada'>Cantidad en Mayor:<br>
							<input type='text' name='cant_mayor'><br>
						</div>
						<div class='entrada'>Cantidad Unidad:<br>
							<input type='text' name='cant_unidad'><br>
						</div>
						<div class='entrada'>Fecha de Llegada:<br>
							<input type='date' name='venta_sujeta'><br>
						</div>
						<div class='entrada'>Fecha de Vencimiento:<br>
							<input type='date' name='estado'><br>
						</div>
					</div>
					<div id='correo'>
						<div class='entrada'>Precio de Compra:<br>
							<input type='text' name='cant_mayor'><br>
						</div>
						<div class='entrada'>Precio de Venta:<br>
							<input type='text' name='cant_unidad'><br>
						</div>
					</div>					
					<p class='text-center'>
						<button type='reset' class='btn btn-info' style='margin-right: 20px;'><i class='zmdi zmdi-roller'></i> &nbsp;&nbsp; Limpiar</button>
						<button type='submit' class='btn btn-danger'><i class='zmdi zmdi-floppy'></i> &nbsp;&nbsp; Guardar</button>
					</p>
				</form>"><i class="zmdi zmdi-hospital"></i> Nuevo Producto</button>
				<button type="button" class="btn btn-info btn-raised btn-lg" onclick=location="/grupoAsig_Far"><i class="zmdi zmdi-hospital"></i> Grupo de Asignacion</button> &nbsp;&nbsp;
			<button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success btn-raised btn-lg"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
		</div></p>
		<div id="correo">
			<div class="entrada "><br>
				<select  name="state" id="maxRows">
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
					<option value="50">50</option>
					<option value="70">70</option>
					<option value="100">100</option>
					<option value="5000">Show ALL Rows</option>
				</select><br>
			</div>
			<div class="entrada">Buscar <i class="zmdi zmdi-search"></i><br>
				<input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Buscar.." ><br>
			</div>
		</div>
		<div class="table-responsive">
			<div class="table-wrapper">
			<table class=" table  fl-table" id= "table-id" >
				<thead>
					<tr>
						<th>#</th>
						<th>Codigo</th>
						<th>Nombre</th>
						<th>Unidad de Medida</th>
						<th>Forma Farmaceutica</th>
						<th>Cantidad en Unidad</th>
						<th>Fecha Llegada</th>
						<th>Fecha Vencimiento</th>
						<th>Precio Venta</th>
						<th>Opciones</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>123</td>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td><a href="" class="btn btn-info btn-raised btn-xs"><i class="zmdi zmdi-eye"></i></a></td>
					</tr>
				<tbody>
			</table>
			</div>
		</div>
		<div class='pagination-container'>
			<nav>
				<ul class="pagination"></ul>
			</nav>
		</div>
		<div class="rows_count">Showing 11 to 20 of 91 entries</div>
	</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
</body>
</html>