<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
				<h1 class="text-titles"><i class="zmdi zmdi-dns zmdi-hc-fw"></i> Almacenaminto </h1>
			</div>
		</div>
		<div class="full-box text-center" style="padding: 30px 10px;">
			<article class="full-box tile">
				<div class="report-content">
					<h3 class="text-center all-tittles">Grupos de Asignacion</h3>
					<p class="full-box tile-icon text-center"></p><a href="/almacen/grupoAsig"><i class="zmdi zmdi-dns zmdi-hc-4x"></i></a>
				</div>
            </article>			
			<article class="full-box tile">	
				<div class="report-content">
					<h3 class="text-center all-tittles">Medicamentos e Insumos</h3>
					<p class="full-box tile-icon text-center"></p><a href="/medicamento/dataGrupoA"><i class="zmdi zmdi-hospital zmdi-hc-4x"></i></a>
				</div>
			</article>
            <article class="full-box tile">
                <div class="report-content">
                    <h3 class="text-center all-tittles">Solicitudes</h3>
                    <p class="full-box tile-icon text-center"></p><a href="/distribucion"><i class="zmdi zmdi-widgets zmdi-hc-4x"></i></a>
                </div>
            </article>
            <article class="full-box tile">
                <div class="report-content">
                    <h3 class="text-center all-tittles">Control de Stock</h3>
                    <p class="full-box tile-icon text-center"></p><a href="/stock_almacen"><i class="zmdi zmdi-chart zmdi-hc-4x"></i></a>
                </div>
            </article>
        </div> 
	</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
</body>
</html>