<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
</head>
<body>
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		
		
				<tr>
				  <th scope="row">1</th>
				  <td>Vatanay Özbeyli</td>
				  <td>UI & UX</td>
				  <td>Istanbul</td>
				</tr>
				<tr>
				  <th scope="row">2</th>
				  <td>Burak Özkan</td>
				  <td>Software Developer</td>
				  <td>Istanbul</td>
				</tr>
				<tr>
				  <th scope="row">3</th>
				  <td>Egemen Özbeyli</td>
				  <td>Purchasing</td>
				  <td>Kocaeli</td>
				</tr>
				<tr>
				  <th scope="row">4</th>
				  <td>Engin Kızıl</td>
				  <td>Sales</td>
				  <td>Bozuyük</td>
				</tr>
				</tbody>
				</table>

				<input type="button" value="Página anterior" onClick="history.go(-1);">
				<input type="button" value="Mi botón" onClick="funcionAsociadaBoton()">
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
</body>
</html>