<!DOCTYPE html>
<html lang="es">
<head>
	<title>LogIn</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="/css/login.css">
	<link rel="stylesheet" href="/css/main.css">
	
</head>
<body class="cover" style="background-image: url(./assets/img/fonfo2.jpg);"></body>
	<div class="overlay">
		<!-- LOGN IN FORM by Omar Dsoky -->
		<form action="/login" method="POST" autocomplete="off" >
		   <!--   con = Container  for items in the form-->
		   <div class="con">
		   <!--     Start  header Content  -->
		   <header class="head-form">
			  <h2>INICIO CUENTA</h2>
			  <!--     A welcome message or an explanation of the login form -->
		   </header>
		   <!--     End  header Content  -->
		
		   <div class="field-set">
			 
			  <!--   user name -->
				 <span class="input-item">
					<i class="zmdi zmdi-account-circle"></i>
				 </span>
				<!--   user name Input-->
				 <input class="form-input" id="UserEmail" type="email" name="correo"  placeholder="@Correo" >
				 
			 
			<br>
			<br>	 
			 
				   <!--   Password -->
			 
			  <span class="input-item">
				<i class="zmdi zmdi-key"></i>
			   </span>
			  <!--   Password Input-->
			  
			  <input class="form-input" type="password" id="UserPass"  name="contraseña" placeholder="@Contraseña"  >
			  
			 
		<!--      Show/hide password  -->
			 <span>
				 
				<i class="zmdi zmdi-eye" aria-hidden="false"  type="button" id="eye"></i>
			 </span>
		   </div>
			<br>
			<br>
			<div class="field-set">
		<!--        buttons -->
		<!--      button LogIn -->
			  <!---->
			  <div class="form-group text-center">
				<button class="log-in" value="Iniciar sesión" type="submit"> 
					INICIAR </button>
			</div>
			<div class="col-md-6">

					<div class="form-group  ">
						<button type="button" class="log-in " onclick=location="/HomeVistDoctor" style='width:150px; height:25px'>entra doctor</button> &nbsp;&nbsp; 
					</div>
					<div class="form-group ">
						<button type="button" class="log-in" onclick=location="/cuaderno/cuaderno" style='width:150px; height:25px'>Cuaderno</button> &nbsp;&nbsp; 
					</div>
				</div>
			<div class="col-md-2 ">
					<div class="form-group ">
						<button type="button" class="log-in" onclick=location="/emergencia/oneVista" style='width:150px; height:25px'>Emergencia</button> &nbsp;&nbsp; 
					</div>
					
					<div class=" ">
						<button type="button" class="log-in" onclick=location="/hospitalizacion" style='width:150px; height:25px'>Hospitalizacion</button> &nbsp;&nbsp; 
					</div>
			</div>
	

		
		  
		<!--   other buttons -->
		<!--    <div class="other"-->
	
			 
		
		
		  
		  <!-- End Form -->
		</form>
		</div>
	
	<!--<form action="/login" method="POST" autocomplete="off" class="full-box logInForm">

		<p class="text-center text-muted"><i class="zmdi zmdi-account-circle zmdi-hc-5x"></i></p>
		<p class="text-center text-muted text-uppercase">Inicia sesión con tu cuenta</p>
		<div class="form-group label-floating">
		  <label class="control-label" for="UserEmail">E-mail</label>
		  <input class="form-control" id="UserEmail" type="email" name="correo" required>
		  <p class="help-block">Escribe tú E-mail</p>
		</div>
		<div class="form-group label-floating">
		  <label class="control-label" for="UserPass">Contraseña</label>
		  <input class="form-control" id="UserPass" type="text" name="contraseña" required>
		  <p class="help-block">Escribe tú contraseña</p>
		</div>
		<div class="form-group text-center">
			<input type="submit" value="Iniciar sesión" class="btn btn-raised btn-danger">
		</div>
		<div class="col-md-6">
			<button type="button" class="btn btn-info" onclick=location="/HomeVistDoctor">entra doctor</button> &nbsp;&nbsp; 
		</div>
		<div class="col-md-6">
			<button type="button" class="btn btn-info" onclick=location="/cuaderno/cuaderno">Cuaderno</button> &nbsp;&nbsp; 
		</div>
		<div class="col-md-6">
			<button type="button" class="btn btn-info" onclick=location="hospitalizacion">Entra a hospitalizacion</button> &nbsp;&nbsp; 
		</div>

	<!- Scripts -->
	<script src="/js/login.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>	
</body>
</html>