<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index2.css">
</head>
<body>
    <div class="container">
        <a href="/medico/listaConusltas">
            <div class="items">
                <div class="icon-wrapper">
                  <i class="fa fa-file-text-o">
                      <img src="https://img.icons8.com/ios/150/000000/file.png">
                  </i>
                </div>
                <div class="project-name">
                  <p>Entrar Doctor</p>
                </div>
            </div>
        </a>
       <a href="/cuaderno/cuaderno">
            <div class="items">
                <div class="icon-wrapper">
                  <i class="fa fa-th-list">
                      <img src="https://img.icons8.com/carbon-copy/150/000000/file.png">
                  </i>
                </div>
                <div class="project-name">
                  <p>Cuaderno</p>
                </div>
            </div>
       </a>
        <a href="/farmacia/home">
            <div class="items">
                <div class="icon-wrapper">
                  <i class="fa fa-th-large">
                      <img src="https://img.icons8.com/dotty/150/000000/treatment-plan.png">
                  </i>
                </div>
                <div class="project-name">
                  <p>Farmacia</p>
                </div>
            </div>  
        </a>
        <a href="/emergencia/oneVista">
            <div class="items">
                <div class="icon-wrapper">
                  <i class="fa fa-th-large">
                      <img src="https://img.icons8.com/dotty/160/000000/treatment-plan.png">
                  </i>
                </div>
                <div class="project-name">
                  <p>Emergencia</p>
                </div>
            </div> 
        </a>
        <a href="/Internaciones/viewTemporal">
            <div class="items">
                <div class="icon-wrapper">
                  <i class="fa fa-th-large">
                      <img src="https://img.icons8.com/dotty/160/000000/treatment-plan.png">
                  </i>
                </div>
                <div class="project-name">
                  <p>Hospitalizacion</p>
                </div>
            </div> 
        </a>
        <a href="/almacen/home">
            <div class="items">
                <div class="icon-wrapper">
                  <i class="fa fa-th-large">
                      <img src="https://img.icons8.com/dotty/160/000000/treatment-plan.png">
                  </i>
                </div>
                <div class="project-name">
                  <p>Almacen</p>
                </div>
            </div> 
        </a>

        <a href="/paciente/citas">
          <div class="items">
              <div class="icon-wrapper">
                <i class="fa fa-th-large">
                    <img src="https://img.icons8.com/dotty/160/000000/treatment-plan.png">
                </i>
              </div>
              <div class="project-name">
                <p>Fichas</p>
              </div>
          </div> 
      </a>
         
    </div>
    
</body>
</html>