<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login </title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
      <%for (var i = 0; i< alert.length; i++) {%>
        <% if (alert[i].mensaje == "Introdusca por favor la cuenta.") {%>
        <div class="alert alert-warning alert-dismissible fade show mover" role="alert">
          <%= alert[i].mensaje %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>    
        <% } else {%> 
          <div class="alert alert-warning alert-dismissible fade show mover" role="alert">
            <%= alert[i].mensaje1 %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>   
         <% } %>
     <% } %> 
    <form name="login-form" class="login-form" action="/login" method="POST">
      <img src="/assets/img/doc.jpg" class="rounded-circle mx-auto d-block logo m-4" alt="Logo">
      <div class="header">
      <h1>Bienbenido </h1>
      <span>Ingrese cuenta y contraseña, Por favor</span>
      </div>
      
        <div class="content">
          <input name="username" id="username"type="text" class="input username" placeholder="Cuenta" />
          <div class="user-icon"></div>
          
          <input name="password" type="password" id="password"class="input password" placeholder="Contraseña" />
          <div class="pass-icon"></div>		
          </div>
      
          <div class="footer">
            <button class="button" value="Ingresar">Ingresar</button>
          </div>
      
      
    
  </form>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>