<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
</head>
<body>
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn btn-success btn-lg"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
				<h1 class="text-titles"><i class="zmdi zmdi-male-female zmdi-hc-fw"></i> Pacientes Internados </h1>
			</div>
		</div>
        <h2>Lista de Internados</h2>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button type="search" class="btn btn-default" style="margin-right: 20px;"><i class="zmdi zmdi-search"></i> &nbsp;&nbsp; Buscar </button>
                </span>
                </div>
            </div>
        </div>
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Historial Clinico</th>
                    <th>Nombre de Paciente</th>
                    <th>Especialidad</th>
                    <th>Ubicacion</th>
                    <th>Fecha de Ingreso</th>
                    <th>Fecha de Salida</th>
                    <th>Modificar</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Content</td>
                    <td>Content</td>
                    <td>Content</td>
                    <td>Content</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Content</td>
                    <td>Content</td>
                    <td>Content</td>
                    <td>Content</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Content</td>
                    <td>Content</td>
                    <td>Content</td>
                    <td>Content</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Content</td>
                    <td>Content</td>
                    <td>Content</td>
                    <td>Content</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Content</td>
                    <td>Content</td>
                    <td>Content</td>
                    <td>Content</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Content</td>
                    <td>Content</td>
                    <td>Content</td>
                    <td>Content</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Content</td>
                    <td>Content</td>
                    <td>Content</td>
                    <td>Content</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Content</td>
                    <td>Content</td>
                    <td>Content</td>
                    <td>Content</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Content</td>
                    <td>Content</td>
                    <td>Content</td>
                    <td>Content</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Content</td>
                    <td>Content</td>
                    <td>Content</td>
                    <td>Content</td>
                </tr>
                <tbody>
            </table>
        </div>
		

		
				
	</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
</body>
</html>