<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form action="" method="POST">
        <label for="">Inserte Fecha</label>
        <input type="date" name="fecha">
        <input type="submit" value="insertar">
    </form>
  <table>
    <thead>
        <tr>
            <th>fecha</th>
        </tr>
    </thead>
    <tbody>
        <%for (var i = 0; i < resp.length; i++) { %>
            <tr>

                <td><%=resp[i].fecha%></td> 

            </tr>
        <% } %>
    </tbody>
  </table>
    
</body>
</html>