<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <%- include("partials/head") -%>
 
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
			</ul>
		</nav>
        <!-- Content page -->
        <div class="container-fluid">
			<div class="page-header">
				<h1 class="text-titles"><i class="zmdi zmdi-border-color zmdi-hc-fw"></i> Recetas </h1>
			</div>
        </div>
        <div id="correo">
			<div class="entrada "><br>
				<select  name="state" id="maxRows">
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
					<option value="50">50</option>
					<option value="70">70</option>
					<option value="100">100</option>
					<option value="5000">Show ALL Rows</option>
				</select><br>
			</div>
			<div class="entrada">Buscar <i class="zmdi zmdi-search"></i><br>
				<input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Buscar.." ><br>
			</div>
		</div>
        <div class="table-responsive">
			<div class="table-wrapper">
			<table class=" table  fl-table" id= "table-id" >
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Limite</th>
						<th>Estado</th>
						<th>Historial Clinico</th>
						<th>Cantidad</th>
						<th>Diagnostico</th>
						<th>Nombre del Medico</th>
						<th>Especialidad</th>
						<th>Opciones</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>123</td>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td><a href="" class="btn btn-info btn-raised btn-xs"><i class="zmdi zmdi-eye"></i></a></td>
					</tr>
				<tbody>
            </table>
            
			</div>
        </div>
        <div class="container-fluid">
        <h1>CSS Responsive form</h1>
<form name="wittysparks" id="ws" method="post" action="#">
        <div class="grupo" id="cabeza">
<div class="divform">
<div class="r">
<div class="c"><label for="Firstname">First Name:</label><input id="Firstname" name="Firstname" type="text"/></div>
<div class="c"><label for="Middlename">Middle Name:</label><input id="Middlename" name="Middlename" type="text"/></div>
<div class="c"><label for="Lastname">Last Name:</label><input id="Lastname" name="Lastname" type="text"/></div>
<div class="c"><label for="Email">Email:</label><input id="Email" name="Email" type="text"/></div>
</div>
<div class="r">
<div class="c"><span class="fheading">Membership</span><input id="rdiobox" name="rdiobox" type="radio" value="Premium"/><label for="rdiobox">Premium</label> <input id="rdiobox2" name="rdiobox" type="radio" value="Free"/><label for="rdiobox2">Free</label></div>
<div class="c"><span class="fheading">Newsletter</span><input id="chkbox" name="chkbox" type="checkbox" value="Checkbox"/><label for="chkbox">Yes / No</label></div>
<div class="c"><label for="Telephoneno">Tel:</label><input id="Telephoneno" name="Telephoneno" type="text"/></div>
<div class="c"><label for="DOB">D.O.B:</label><input id="DOB" name="DOB" type="text"/></div>
</div>
<div class="r">
<div class="c"><label for="Occupation">Occupation:</label><input id="Occupation" name="Occupation" type="text"/></div>
<div class="c"><label for="Country">Country:</label><select name="Country" id="Country"><option selected="selected">U.S</option><option>India</option></select></div>
<div class="c"><label for="City">City:</label><select id="City" name="city"><option selected="selected">New York</option></select></div>
</div>
<div class="r">
<div class="c frwd"><label for="Comments">Comments:</label><textarea id="Comments" name="Comments" rows="3"></textarea></div>
</div>
<div class="r">
<div class="c"><input name="button" type="submit" value="Submit"/></div>
</div>
</div>
</div>
</form>

</div>	
	</section>
	<!--====== Scripts -->
    <%- include("partials/scripts") -%>
    <script src="/js/mas.js"></script>
</body>
</html>