<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
	<link rel="stylesheet" href="/css/form.css">
</head>
<body>
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar">
		<ul class="full-box list-unstyled text-right">
			<li class="pull-left">
				<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
			</li>
		</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles"><i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Registro de Paciente</h1>
			</div>
		</div>	
		<div class="col-xs-12">
			<form action="/paciente/postPaciente" method="POST" >
				<h2 class="title">Registro de Paciente</h2>
				<div class="col-md-12 panel-body">
					<div class="col-md-12">
						<div class="col-md-6">
							<div class="form-group ">
								<label class="control-label">Historial Clinico</label>
								<input class="form-control" type="text" name="historial">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group ">
								<label class="control-label">Nombre </label>
								<input class="form-control" type="text" name="nombre">
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-6">
							<div class="form-group ">
								<label class="control-label">Apellido Paterno</label>
								<input class="form-control" type="text" name="apell_pa">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group ">
								<label class="control-label">Apellido Materno</label>
								<input class="form-control" type="text" name="apell_ma">
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-3">
							<div class="form-group ">
								<label class="control-label">C.I:</label>
								<input class="form-control" type="text" name="ci">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Sexo</label>
								<select class="form-control" name="sexo">
									<option>Hombre</option>
									<option>Mujer</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Fecha de Nacimiento</label>
								<input class="form-control" type="date" name="fechaNacimiento">
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-3">
							<div class="form-group ">
								<label class="control-label">Edad</label>
								<input type="number" name="Edad" min="1" max="1000" value="1" />
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Estado Civil</label>
								<select class="form-control" name="estadoCivil">
									<option>Soltero(a)</option>
									<option>Casado(a)</option>
									<option>Divorciado(a)</option>
									<option>viudo(a)</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group ">
								<label class="control-label">Direccion</label>
								<input class="form-control" type="text" name="direccion">
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-4">
							<div class="form-group ">
								<label class="control-label">Zona</label>
								<input class="form-control" type="text" name="zona">
							</div>
						</div>
						<div class="col-md-5">
							<div class="form-group ">
								<label class="control-label">Ocupacion</label>
								<input class="form-control" type="text" name="ocupacion">
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">Idiomas</label>
								<select class="form-control" name="idiomas">
									<option>Castellano</option>
									<option>Quechua</option>
									<option>Aymara</option>
									<option>Ingles</option>
									<option>Guarani</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-4">
							<div class="form-group ">
								<label class="control-label">Lugar de Nacimiento</label>
								<input class="form-control" type="text" name="luagarNac">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group ">
								<label class="control-label">Deprtamento</label>
								<input class="form-control" type="text" name="departamento">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group ">
								<label class="control-label">Provincia</label>
								<input class="form-control" type="text" name="provincia">
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="col-md-6">
							<div class="form-group ">
								<label class="control-label">Municipio</label>
								<input class="form-control" type="text" name="municipio">
							</div>
						</div>
					</div>
				</div>
				<!--Datos de los Parientes-->
				<h2 class="title">Datos de los Parientes</h2>
				<div class="col-md-12">
					<div class="col-md-4">
						<div class="form-group ">
							<label class="control-label">Nombre del Padre</label>
							<input class="form-control" type="text" name="nomPa">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group ">
							<label class="control-label">Apellido Paterno</label>
							<input class="form-control" type="text" name="apellPa_pa">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group ">
							<label class="control-label">Apellido Materno</label>
							<input class="form-control" type="text" name="apellPa_ma">
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-4">
						<div class="form-group ">
							<label class="control-label">Nombre del Madre</label>
							<input class="form-control" type="text" name="nomMa">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group ">
							<label class="control-label">Apellido Paterno</label>
							<input class="form-control" type="text" name="apellMa_pa">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group ">
							<label class="control-label">Apellido Materno</label>
							<input class="form-control" type="text" name="apellMa_ma">
						</div>
					</div>
				</div>
				<br>
				<h3 class="title">Responsable externo al paciente</h3>
				<div class="col-md-12">
					<div class="col-md-4">
						<div class="form-group ">
							<label class="control-label">Nombre del Responsable</label>
							<input class="form-control" type="text" name="nomRes">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group ">
							<label class="control-label">Apellido Paterno del Responsable</label>
							<input class="form-control" type="text" name="apellRes_pa">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group ">
							<label class="control-label">Apellido Materno del Responsable</label>
							<input class="form-control" type="text" name="apellRes_ma">
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-6">
						<div class="form-group ">
							<label class="control-label">Telefono del Responsable</label>
							<input class="form-control" type="text" name="telfRes">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group ">
							<label class="control-label">Direccion del Responsable</label>
							<input class="form-control" type="text" name="DirRes">
						</div>
					</div>
				</div>
				<p class="text-center">
					<button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                    <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                    <button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
				</p>
			</form>
		</div>
</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>	
</body>
</html>