<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
</head>
<body>
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
<section class="full-box dashboard-contentPage">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-Notifications-area">
						<i class="zmdi zmdi-notifications-none"></i>
						<span class="badge">7</span>
					</a>
				</li>
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
				<li>
					<a href="#!" class="btn-modal-help">
						<i class="zmdi zmdi-help-outline"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles"><i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Registro <small>De Paciente</small></h1>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row contenedor">
				<div class="col-xs-12">
					
					<div class="tab-content">
						<div class="tab-pane fade active in" id="reg_paciente">
							<div class="container-fluid ">
								<div class="row">
									
									<form class="">

										<div class=" container-fluid ">
											<div class="col-md-12 ">
													<!-- daros personales-->
													<p class="lead">Datos Personales </p>
																													
															<!-- lado hizquierdo -->
															
															<div class="col-md-6 formm">
																<div class="form-group label-floating form-text">
																	<label class="control-label">Apellido Paterno</label>
																	<input class="form-control label-txte" type="text" name="apPaterno">
																</div>
																<div class="form-group label-floating form-text">
																		<label class="control-label">Nombre</label>
																		<input class="form-control label-txte" type="text" name="nombre">
																</div>
																<div class="form-group label-floating form-text">
																		<label class="control-label">Fecha de Nacimiento</label>
																		<input class="form-control label-txte" type="text" name="fechNacimien">
																</div>
																<div class="form-group label-floating form-text">
																		<label class="control-label">Estado Civil</label>
																		<select class="form-control label-txte" name="estadoCivil">
																			<option></option>
																			<option>Casado(a)</option>
																			<option>Divorciado(a)</option>
																			<option>Soltero(a)</option>
																			<option>Viudo(a)</option>
																			</select>
																	</div>
																
															</div>
															<!--   lado derecho-->
															<div class="col-md-6 formm">
																<div class="form-group label-floating form-text">
																	<label class="control-label">Apellido Materno</label>
																	<input class="form-control label-txte" type="text" name="apMaterno">
																</div>
																<div class="form-group label-floating form-text">
																		<label class="control-label">CI</label>
																		<input class="form-control label-txte" type="text" name="ci">
																</div>
																<div class="checkbox form-text" style=" height: 70px;">
																	<h4 class="text-titles"> Sexo</h4>			 
																	<input type="radio" name="sexo" id="hombre">
																	<label for="hombre">Hombre</label>
																	<input type="radio" name="sexo" id="mujer">
																	<label for="mujer">Mujer</label>
																</div>
																<div class="form-group label-floating form-text">
																		<label class="control-label">Ocupación</label>
																		<input class="form-control label-txte" type="text" name="ocupacion">
																</div>
																
															</div>
														<!-- lugar donde nacio colum1 -->
														
															<div class="col-md-6 formm ">
																	<p class="lead">Lugar donde nació </p>
																<div class="form-group label-floating form-text">
																	<label class="control-label">Departamento donde Nació</label>
																	<select class="form-control label-txte" name="depNacio">	
																		<option></option>
																		<option>BENI</option>
																		<option>CHUQUISACA</option>
																		<option>COCHABAMBA</option>
																		<option>LA PAZ</option>
																		<option>ORURO</option>
																		<option>POTOSÍ</option>
																		<option>TARIJA</option>
																		<option>SANTA CRUZ</option>
																		<option>PANDO</option>
																		<option>EXTRANJERO</option>
																		</select>
																</div>
																<div class="form-group label-floating form-text">
																	<label class="control-label">Municipio Donde Nació</label>
																	<input class="form-control label-txte" type="text" name="munipNacio">
																</div>
																<br>
															</div>

															<!-- lugar donde vive columna 2-->
															<div class="col-md-6 formm">
																<p class="lead">Lugar donde vive </p>
																<div class="form-group label-floating form-text">
																	<label class="control-label">Dirección</label>
																	<input class="form-control label-txte" type="text" name="direccion">
																</div>
																<div class="form-group label-floating form-text">
																	<label class="control-label">Zona</label>
																	<input class="form-control label-txte" type="text" name="zona">
																</div>
																<br>
															</div>
													
												<!-- datos familiares  -->			
												<p class="lead">Datos Familiares</p>
												<div class="col-md-6 formm">
													
													<div class="form-group label-floating form-text">
														<label class="control-label">Responsable de Familia</label>
														<input class="form-control label-txte" type="text" name="respfamiliar">
													</div>
													<div class="form-group label-floating form-text">
														<label class="control-label">Nombre del Padre</label>
														<input class="form-control label-txte" type="text" name="nombreP">
													</div>
													<br>
												</div>
												<div class="col-md-6 formm">
													<div class="form-group label-floating form-text">
														<label class="control-label">Teléfono de Referencia</label>
														<input class="form-control label-txte" type="text" name="telefonorRef">
													</div>
													<div class="form-group label-floating form-text">
															<label class="control-label">Nombre de la Madre</label>
															<input class="form-control label-txte" type="text" name="nombreM">
													</div>
													<br>
												</div>
												<!-- lugar donde trabajacolum 1-->
												<p class="lead">Lugar Donde Trabaja </p>
												<div class="col-md-6 formm">
													
													<div class="form-group label-floating form-text">
														<label class="control-label">Lugar de Trabajo</label>
														<input class="form-control label-txte" type="text" name="lugTrabajo">
													</div>
													<div class="form-group label-floating form-text">
															<label class="control-label">Teléfono</label>
															<input class="form-control label-txte" type="text" name="telef">
													</div>
													<br>
												</div>
												<!-- lugar donde trabaja colum 2-->
												<div class="col-md-6 formm">
													<div class="form-group label-floating form-text">
														<label class="control-label">Dirección</label>
														<input class="form-control label-txte" type="text" name="directrabajo">
													</div>
												<br>
												</div>
														
											</div>
												<table class="table table-hover text-center">
													<thead>
												</table>
												<p class="text-center">
													<button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
													<button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
													<button type="submit" class="btn btn-outline-danger"><i class="zmdi zmdi-download"></i> &nbsp;&nbsp; Imprimir</button>
												</p>
										</div>
									</form>
									
								</div>
							</div>
									
									
						</div>
	          		</div>
				</div>
			</div>
		</div>
</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
</body>
</html>