<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
</head>
<body>
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
<section class="full-box dashboard-contentPage">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-Notifications-area">
						<i class="zmdi zmdi-notifications-none"></i>
						<span class="badge">7</span>
					</a>
				</li>
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
				<li>
					<a href="#!" class="btn-modal-help">
						<i class="zmdi zmdi-help-outline"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles"><i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Registro <small>De Paciente</small></h1>
			</div>
		</div>	
			<div class="col-xs-12">
				<div class="page-wrapper">
					<div class="wrapper wrapper--w680">
						<div class="card card-4">
							<div class="card-body">
								<h2 class="title">Registration Form</h2>
								<form action="/paciente/postPaciente" method="POST">
									<div class="row row-space">
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Nombre</label>
												<input class="input--style-4" type="text" name="nombre">
											</div>
										</div>
										
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Apellido Paterno</label>
												<input class="input--style-4" type="text" name="apellidop">
											</div>
										</div>
									</div>
									<div class="row row-space">
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Apellido Materno</label>
												<input class="input--style-4" type="text" name="apellidom">
											</div>
										</div>
										
										<div class="col-2">
											<div class="input-group">
												<label class="label1">CI.</label>
												<input class="input--style-4" type="text" name="ci">
											</div>
										</div>
									</div>
									<div class="row row-space">
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Fecha de Nacimiento</label>
												<div class="input-group-icon">
													<input class="input--style-4 js-datepicker" type="text" name="fechanacimiento">
													<i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
												</div>
											</div>
										</div>
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Edad</label>
												<input class="input--style-4" type="text" name="edad">
											</div>
										</div>
										
										
									</div>
									<div class="row row-space">
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Sexo</label>
												<div class="p-t-10">
													<label class="radio-container m-r-45">Male
														<input type="radio" checked="checked" name="sexo">
														<span class="checkmark"></span>
													</label>
													<label class="radio-container">Female
														<input type="radio" name="sexo">
														<span class="checkmark"></span>
													</label>
												</div>
											</div>
										</div>
										<div class="input-group">
											<label class="label1">Estado Civil</label>
											<div class="rs-select2 js-select-simple select--no-search">
												<select name="estadocivil">
													<option disabled="disabled" selected="selected">Selecione una opcion</option>
													<option>Soltero     </option>
													<option>Casado		</option>
													<option>Viudo		</option>
													<option>Viuda		</option>
												</select>
												<div class="select-dropdown"></div>
											</div>
										</div>							
											
									</div>
									<div class="row row-space">
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Direccion</label>
												<input class="input--style-4" type="text" name="direccion">
											</div>
										</div>
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Zona</label>
												<input class="input--style-4" type="text" name="zona">
											</div>
										</div>
									</div>									
									<div class="row row-space">
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Telefono</label>
												<input class="input--style-4" type="text" name="telef">
											</div>
										</div>
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Ocupacion</label>
												<input class="input--style-4" type="text" name="ocupacion">
											</div>
										</div>
									</div>
									<div class="row row-space">
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Idiomas</label>
												<div class="rs-select2 js-select-simple select--no-search">
													<select name="idiomas">
														<option disabled="disabled" selected="selected">Selecione una opcion</option>
														<option>Español Bolivia     </option>
														<option>Ingles		</option>
														<option>Quechua		</option>
														<option>Aymara		</option>
														<option>Guarani		</option>
													</select>
													<div class="select-dropdown"></div>
												</div>
											</div>	
										</div>
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Lugar de Nacimiento</label>
												<input class="input--style-4" type="text" name="lugranacimiento">
											</div>
										</div>
									</div>
									<div class="row row-space">
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Departamento</label>
												<input class="input--style-4" type="text" name="departameto">
											</div>
										</div>
										
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Provincia</label>
												<input class="input--style-4" type="text" name="provincia">
											</div>
										</div>
									</div>
									<div class="row row-space">
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Municipio</label>
												<input class="input--style-4" type="text" name="municipio">
											</div>
										</div>
										
										
									</div>
									<h3 class="title">Datos De los Parientes</h3>
									<div class="row row-space">
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Nombre del Padre</label>
												<input class="input--style-4" type="text" name="npadre">
											</div>
										</div>
										
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Apellido del Padre</label>
												<input class="input--style-4" type="text" name="apspadre">
											</div>
										</div>
									</div>
									<div class="row row-space">
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Nombre de la Madre</label>
												<input class="input--style-4" type="text" name="nmadre">
											</div>
										</div>
										
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Apellido de la Madre</label>
												<input class="input--style-4" type="text" name="apsmadre">
											</div>
										</div>
									</div>
									<h3 class="title">Responsable externo al paciente</h3>
									<div class="row row-space">
										<div class="col-2">
											<div class="input-group">
												<label class="label1">NOmbre del Responsable</label>
												<input class="input--style-4" type="text" name="nomrespon">
											</div>
										</div>
										
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Apellido del Responsable</label>
												<input class="input--style-4" type="text" name="aperespon">
											</div>
										</div>
									</div>
									<div class="row row-space">
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Telefono del Responsable</label>
												<input class="input--style-4" type="text" name="telefres">
											</div>
										</div>
										
										<div class="col-2">
											<div class="input-group">
												<label class="label1">Direccion del Responsable</label>
												<input class="input--style-4" type="text" name="direcres">
											</div>
										</div>
									</div>
									
									<div class="p-t-15">
											<button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>					
			</div>
</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
	<!-- Jquery JS-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<!-- Vendor JS-->
	<script src="/vendor/select2/select2.min.js"></script>
	<script src="/vendor/datepicker/moment.min.js"></script>
	<script src="/vendor/datepicker/daterangepicker.js"></script>
	<script src="/js/form.js"></script>
</body>
</html>