<!DOCTYPE html>
<html lang="es">
<head>
	<title>Formulario Paciente</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
	<link rel="stylesheet" href="/css/form1.css">
</head>
<body>
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar">
		<ul class="full-box list-unstyled text-right">
			<li class="pull-left">
				<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
			</li>
		</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles"><i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Registro de Paciente</h1>
			</div>
		</div>	
		<div class="col-xs-12">
			<form  action="/paciente/postPaciente" method="post" >
				<p> DATOS DEL PACIENTE</p>
						<div class="grupo" id="cabeza">
							<div id="cuatro">
								<div class="entrada">Historial Clinico:<br>
									<input type="text" name="historial"><br>
								</div>
								<div class="entrada">Apellido Paterno:<br>
									<input type="text" name="apellidop"><br>
								</div>
								<div class="entrada">Apellido Materno:<br>
									<input type="text" name="apellidom"><br>
								</div>
								<div class="entrada">Nombre(s):<br>
									<input type="text" name="nombre"><br>
								</div>
							</div>
							<div id="cuatro">
								<div class="entrada">C.I.:<br>
									<input type="text" name="ci"><br>
								</div>
								<div class="entrada">Sexo:<br>
									<select  name="sexo">
										<option>Hombre</option>
										<option>Mujer</option>
									</select><br>
								</div>
								<div class="entrada">Fecha de Nacimiento:<br>
									<input type="date" name="fechanacimiento"><br>
								</div>
								<div class="entrada">Edad:<br>
									<input type="number" name="edad" min="1" max="1000" value="1"/><br>
								</div>
							</div>
							<div id="cuatro">
								<div class="entrada">Ocupacion:<br>
									<input type="text" name="ocupacion"><br>
								</div>
								<div class="entrada">Telefono:<br>
									<input type="text" name="telef"><br>
								</div>
								<div class="entrada">Estado Civil:<br>
									<select  name="estadocivil">
										<option>Soltero(a)</option>
										<option>Casado(a)</option>
										<option>Divorciado(a)</option>
										<option>viudo(a)</option>
									</select><br>
								</div>
								<div class="entrada">Idiomas:<br>
									<select name="idiomas">
										<option>Castellano</option>
										<option>Quechua</option>
										<option>Aymara</option>
										<option>Ingles</option>
										<option>Guarani</option>
									</select><br>
								</div>
							</div>
							<div id="tres2">
								<div class="entrada">Direccion:<br>
									<input type="text" name="direccion"><br>
								</div>
								<div class="entrada">Zona:<br>
									<input type="text" name="zona"><br>
								</div>
								<div class="entrada">Lugar de Nacimiento:<br>
									<input type="text" name="lugranacimiento"><br>
								</div>
							</div>
							<div id="tres2">
								<div class="entrada">Departamento:<br>
									<input type="text" name="departameto"><br>
								</div>
								<div class="entrada">Provincia:<br>
									<input type="text" name="provincia"><br>
								</div>
								<div class="entrada">Municipio:<br>
									<input type="text" name="municipio"><br>
								</div>
							</div>
						</div>
						<br>
						<p>DATOS DE LOS PARIENTES</p>
							<div class="grupo" id="unidad">
								<div id="tres2">
									<div class="entrada">Nombre del Padre:<br>
										<input type="text" name="npadre"><br>
									</div>
									<div class="entrada">Apellido Paterno:<br>
										<input type="text" name="apspadre"><br>
									</div>
									<div class="entrada">Apellido Materno:<br>
										<input type="text" ><br>
									</div>
								</div>
								<div id="tres2">
									<div class="entrada">Nombre de la Madre:<br>
										<input type="text" name="nmadre"><br>
									</div>
									<div class="entrada">Apellido Paterno:<br>
										<input type="text" name="apsmadre"><br>
									</div>
									<div class="entrada">Apellido Materno:<br>
										<input type="text" ><br>
									</div>
								</div>
							</div>
							<br>
							<p>RESPONSABLE EXTERNO AL PACIENTE</p>
							<div id="grupo4">
								<div id="grupo4caja1">
									<div class="entrada">Nombre del Responsable:<br>
										<input type="text" name="nomrespon"><br>
									</div>
									<div class="entrada">Apellido Paterno del Responsable:<br>
										<input type="text" name="aperespon"><br>
									</div>
									<div class="entrada">Apellido Materno del Responsable:<br>
										<input type="text" ><br>
									</div>
								</div>
								<div id="grupo4caja2">
									<div class="entrada">Telefono del Responsable:<br>
										<input type="text" name="telefres"><br>
									</div>
									<div class="entrada">Direccion del Responsable:<br>
										<input type="text" name="direcres"><br>
									</div>
								</div>
							</div>
							<p class="text-center">
									<button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
									<button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
									<button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
								</p>
				</form>
				
		</div>
</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>	
</body>
</html>