<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <%- include("partials/head") -%>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet"/> 
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
			</ul>
		</nav>
    
    <div class="container-fluid">
        <div class="page-header">
          <h1 class="text-titles"><i class="zmdi zmdi-dns zmdi-hc-fw"></i> Almacenamiento </h1>
        </div>
      </div>
    <!------ Include the above in your HEAD tag ---------->
    
   
    <div id="correo">
        <div class="entrada "><br>
          <select  name="state" id="maxRows">
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="70">70</option>
            <option value="100">100</option>
            <option value="5000">Show ALL Rows</option>
          </select><br>
        </div>
        <div class="entrada">Buscar <i class="zmdi zmdi-search"></i><br>
          <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Buscar.." ><br>
        </div>
      </div>
      <div class="table-responsive">
        <div class="table-wrapper">
        <table class=" table  fl-table" id= "table-id" >
            <thead>  
              <tr>  
                <th>ENO</th>  
                <th>EMPName</th>  
                <th>Country</th>  
                <th>Salary</th>  
              </tr>  
            </thead>  
            <tbody>  
              <tr>  
                <td>001</td>  
                <td>Anusha</td>  
                <td>India</td>  
                <td>10000</td>  
              </tr>  
              <tr>  
                <td>002</td>  
                <td>Charles</td>  
                <td>United Kingdom</td>  
                <td>28000</td>  
              </tr>  
              <tr>  
                <td>003</td>  
                <td>Sravani</td>  
                <td>Australia</td>  
                <td>7000</td>  
              </tr>  
               <tr>  
                <td>004</td>  
                <td>Amar</td>  
                <td>India</td>  
                <td>18000</td>  
              </tr>  
              <tr>  
                <td>005</td>  
                <td>Lakshmi</td>  
                <td>India</td>  
                <td>12000</td>  
              </tr>
              <tr>  
                  <td>001</td>  
                  <td>Anusha</td>  
                  <td>India</td>  
                  <td>10000</td>  
                </tr>  
                <tr>  
                  <td>002</td>  
                  <td>Charles</td>  
                  <td>United Kingdom</td>  
                  <td>28000</td>  
                </tr>  
                <tr>  
                  <td>003</td>  
                  <td>Sravani</td>  
                  <td>Australia</td>  
                  <td>7000</td>  
                </tr>  
                 <tr>  
                  <td>004</td>  
                  <td>Amar</td>  
                  <td>India</td>  
                  <td>18000</td>  
                </tr>  
                <tr>  
                  <td>005</td>  
                  <td>Lakshmi</td>  
                  <td>India</td>  
                  <td>12000</td>  
                </tr>
                <tr>  
                    <td>001</td>  
                    <td>Anusha</td>  
                    <td>India</td>  
                    <td>10000</td>  
                  </tr>  
                  <tr>  
                    <td>002</td>  
                    <td>Charles</td>  
                    <td>United Kingdom</td>  
                    <td>28000</td>  
                  </tr>  
                  <tr>  
                    <td>003</td>  
                    <td>Sravani</td>  
                    <td>Australia</td>  
                    <td>7000</td>  
                  </tr>  
                   <tr>  
                    <td>004</td>  
                    <td>Amar</td>  
                    <td>India</td>  
                    <td>18000</td>  
                  </tr>  
                  <tr>  
                    <td>005</td>  
                    <td>Lakshmi</td>  
                    <td>India</td>  
                    <td>12000</td>  
                  </tr>
                  <tr>  
                      <td>001</td>  
                      <td>Anusha</td>  
                      <td>India</td>  
                      <td>10000</td>  
                    </tr>  
                    <tr>  
                      <td>002</td>  
                      <td>Charles</td>  
                      <td>United Kingdom</td>  
                      <td>28000</td>  
                    </tr>  
                    <tr>  
                      <td>003</td>  
                      <td>Sravani</td>  
                      <td>Australia</td>  
                      <td>7000</td>  
                    </tr>  
                     <tr>  
                      <td>004</td>  
                      <td>Amar</td>  
                      <td>India</td>  
                      <td>18000</td>  
                    </tr>  
                    <tr>  
                      <td>005</td>  
                      <td>Lakshmi</td>  
                      <td>India</td>  
                      <td>12000</td>  
                    </tr>  
            </tbody>  
        </table>
        </div>
      </div>

      <div id="correo">
          <div class="entrada "><br>
            <select  name="state" id="maxRows">
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="70">70</option>
              <option value="100">100</option>
              <option value="5000">Show ALL Rows</option>
            </select><br>
          </div>
          <div class="entrada">Buscar <i class="zmdi zmdi-search"></i><br>
            <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Buscar.." ><br>
          </div>
        </div>
        <div class="table-responsive">
          <div class="table-wrapper">
          <table class=" table  fl-table" id= "table-id" >
            <thead>  
              <tr>  
                <th>ENO</th>  
                <th>EMPName</th>  
                <th>Country</th>  
                <th>Salary</th>  
              </tr>  
            </thead>  
            <tbody>  
              <tr>  
                <td>001</td>  
                <td>Anusha</td>  
                <td>India</td>  
                <td>10000</td>  
              </tr>  
              <tr>  
                <td>002</td>  
                <td>Charles</td>  
                <td>United Kingdom</td>  
                <td>28000</td>  
              </tr>  
              <tr>  
                <td>003</td>  
                <td>Sravani</td>  
                <td>Australia</td>  
                <td>7000</td>  
              </tr>  
               <tr>  
                <td>004</td>  
                <td>Amar</td>  
                <td>India</td>  
                <td>18000</td>  
              </tr>  
              <tr>  
                <td>005</td>  
                <td>Lakshmi</td>  
                <td>India</td>  
                <td>12000</td>  
              </tr>
              <tr>  
                  <td>001</td>  
                  <td>Anusha</td>  
                  <td>India</td>  
                  <td>10000</td>  
                </tr>  
                <tr>  
                  <td>002</td>  
                  <td>Charles</td>  
                  <td>United Kingdom</td>  
                  <td>28000</td>  
                </tr>  
                <tr>  
                  <td>003</td>  
                  <td>Sravani</td>  
                  <td>Australia</td>  
                  <td>7000</td>  
                </tr>  
                 <tr>  
                  <td>004</td>  
                  <td>Amar</td>  
                  <td>India</td>  
                  <td>18000</td>  
                </tr>  
                <tr>  
                  <td>005</td>  
                  <td>Lakshmi</td>  
                  <td>India</td>  
                  <td>12000</td>  
                </tr>
                <tr>  
                    <td>001</td>  
                    <td>Anusha</td>  
                    <td>India</td>  
                    <td>10000</td>  
                  </tr>  
                  <tr>  
                    <td>002</td>  
                    <td>Charles</td>  
                    <td>United Kingdom</td>  
                    <td>28000</td>  
                  </tr>  
                  <tr>  
                    <td>003</td>  
                    <td>Sravani</td>  
                    <td>Australia</td>  
                    <td>7000</td>  
                  </tr>  
                   <tr>  
                    <td>004</td>  
                    <td>Amar</td>  
                    <td>India</td>  
                    <td>18000</td>  
                  </tr>  
                  <tr>  
                    <td>005</td>  
                    <td>Lakshmi</td>  
                    <td>India</td>  
                    <td>12000</td>  
                  </tr>
                  <tr>  
                      <td>001</td>  
                      <td>Anusha</td>  
                      <td>India</td>  
                      <td>10000</td>  
                    </tr>  
                    <tr>  
                      <td>002</td>  
                      <td>Charles</td>  
                      <td>United Kingdom</td>  
                      <td>28000</td>  
                    </tr>  
                    <tr>  
                      <td>003</td>  
                      <td>Sravani</td>  
                      <td>Australia</td>  
                      <td>7000</td>  
                    </tr>  
                     <tr>  
                      <td>004</td>  
                      <td>Amar</td>  
                      <td>India</td>  
                      <td>18000</td>  
                    </tr>  
                    <tr>  
                      <td>005</td>  
                      <td>Lakshmi</td>  
                      <td>India</td>  
                      <td>12000</td>  
                    </tr>  
            </tbody>  
        </table>
      </div>
      </div>
	</section>
	<!--====== Scripts -->
    <%- include("partials/scripts") -%>
    <script src="/js/mas.js"></script>
</body>
</html>