<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <%- include("partials/head") -%>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet"/> 
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
			</ul>
		</nav>
        <!-- Content page -->
        <div class="container text-right">
          <div class="row">
            <table border="2" class="table" id="tablaprueba">
              <thead class="thead-dark">
                <tr>
                  <th>ID</th>
                  <th>Nombres</th>
                  <th>Ap Paterno</th>
                  <th>Ap Materno</th>
                  <th>Ap Materno</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
        
            <div class="form-group">
              <button type="button" class="btn btn-primary mr-2" onclick="agregarFila()">Agregar Fila</button>
              <button type="button" class="btn btn-danger" onclick="eliminarFila()">Eliminar Fila</button>
            </div>
          </div>
        </div>

			
	</section>
	<!--====== Scripts -->
    <%- include("partials/scripts") -%>
    <script src="/js/mas.js"></script>
</body>
</html>