<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
	<link rel="stylesheet" href="/css/form1.css">
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
				<h1 class="text-titles"><i class="zmdi zmdi-hospital zmdi-hc-fw"></i>Servicios</h1>
			</div>
		</div>
		<!--Cuadernos-->
		<div class="container-fluid">
				<form >
					<div class="grupo" id="cabeza">
						<div id="tres2">
							<div class="entrada">Codigo:<br>
								<input type="text"><br>
							</div>
							<div class="entrada">Servicio:<br>
								<input type="text"><br>
							</div>
							<div class="entrada">Saldo:<br>
								<input type="text" ><br>
							</div>
						</div>
						<p class="text-center">
							<button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
							<button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
						</p>
					</div>
				</form>
		</div>
		<!-- Lista de Cuadernos-->
		<div class="table-responsive">
            <div class="table-wrapper">
				<div id="correo">
					<div class="entrada">
						<button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success btn-raised btn-lg"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
					</div>
					<div class="entrada">Buscar <i class="zmdi zmdi-search"></i><br>
						<input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Buscar..."><br>
					</div>
				</div>
				<table class="fl-table" id="myTable">
					<thead>
                        <tr>
						<th class="text-center" WIDTH="5%">Codigo</th>
						<th class="text-center" WIDTH="40%">Servico</th>
                        <th class="text-center" WIDTH="15%">Saldo</th>
						<th class="text-center" WIDTH="20%">Fecha de Creacion</th>
						<th class="text-center" WIDTH="20%">Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>1</td>
                        <td>Pediatria</td>
						<td>Piso 4</td>
						<td>Piso 4</td>
                        <td><a href="" class="btn btn-info btn-raised btn-xs "><i class="zmdi zmdi-refresh-alt"></i></a></td>
    					</tr>
                    <tbody>
				</table>
			</div>
        </div>
    </div>
	</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
</body>
</html>