<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
	
</head>
<body>
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
				<h1 class="text-titles"><i class="zmdi zmdi-book zmdi-hc-fw"></i>Solicitudes</h1>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-tabs" style="margin-bottom: 15px;">
						<li class="active"><a href="#lista" data-toggle="tab">Lista de Solicitudes</a></li>
						<li><a href="#new" data-toggle="tab">Solicitud Trimestral</a></li>
						<li><a href="#new1" data-toggle="tab">Solicitud de Emergencia</a></li>
					</ul>
					<!-- Lista de Solicitudes-->
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade active in" id="lista">
							<div class="container-fluid">
								<div class="row">
									<div class="table-responsive">
										<div class="table-wrapper">
											<table class="fl-table">
												<thead>
													<tr>
													<th>#</th>
													<th>Nro. de Solicitud</th>
													<th>Responsable</th>
													<th>Fecha</th>
													<th>Trimestre</th>
													<th>Estado</th>
													<th>Opciones</th>
													</tr>
												</thead>
												<tbody>

												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Solicitud Trimestral-->
						<div class="tab-pane fade" id="new">
							<div class="container-fluid">
								<form action="">
									<h2 class="text-center all-tittles">REGISTRO DE SOLICITUDES</h2>
									<div class="col-md-12 panel-body">
										<div class="col-md-12">
											<div class="col-md-6">
												<div class="form-group label-floating">
													<label class="control-label">Nro. de Solicitud</label>
													<input class="form-control" type="text">
												</div>
												<div class="form-group">
													<label class="control-label">Resposable</label>
													<input class="form-control" type="text">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group label-floating">
													<label class="control-label">Trimestre a Reportar</label>
													<select class="form-control">
														<option>Primer Trimestre</option>
														<option>Segundo Trimestre</option>
														<option>Tercer Trimestre</option>
														<option>Cuarto Trimestre</option>
													</select>
												</div>
												<div class="form-group">
													<label class="control-label">Fecha de Solicitud</label>
													<input class="form-control" type="date" name="fechaIngreso">
												</div>
											</div>
											<br>
											<br>
											<table class="fl-table">
												<thead>
													<tr>
														<th>#</th>
														<th>Cantidad del Producto</th>
														<th>Codigo</th>
														<th>Descripcion</th>
														<th>Cantidad</th>
														<th>Precio</th>
														<th>Precio Toal</th>
														<th>Eliminar</th>
														<th>Eliminar todo</th>
													</tr>
												</thead>
												<tbody>
													
												<tbody>
											</table>
											<p class="text-center">
												<button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
												<button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
												<button type="submit" class="btn btn-outline-danger"><i class="zmdi zmdi-download"></i> &nbsp;&nbsp; Imprimir</button>
											</p>
										</div>
									</div>
								</form>
							</div>
						</div>
						<!-- Solicitud de Emergencia-->
						<div class="tab-pane fade" id="new1">
							<div class="container-fluid">
								<form action="">
									<h2 class="text-center all-tittles">REGISTRO DE SOLICITUDES</h2>
									<div class="col-md-12 panel-body">
										<div class="col-md-12">
											<div class="col-md-6">
												<div class="form-group label-floating">
													<label class="control-label">Nro. de Solicitud</label>
													<input class="form-control" type="text">
												</div>
												<div class="form-group">
													<label class="control-label">Resposable</label>
													<input class="form-control" type="text">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group form-animate-checkbox">
													<h4 class="text-titles"> Solicitud de Emergencia</h4>							
													<input type="checkbox" class="checkbox"  id="validate_agree" name="validate_agree">
												</div>
												<div class="form-group">
													<label class="control-label">Fecha de Solicitud</label>
													<input class="form-control" type="date" name="fechaIngreso">
												</div>
											</div>
											<table class="fl-table">
												<thead>
													<tr>
														<th>#</th>
														<th>Cantidad del Producto</th>
														<th>Codigo</th>
														<th>Descripcion</th>
														<th>Cantidad</th>
														<th>Precio</th>
														<th>Precio Toal</th>
														<th>Eliminar</th>
														<th>Eliminar todo</th>
													</tr>
												</thead>
												<tbody>
														
												<tbody>
											</table>
											<p class="text-center">
												<button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
												<button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
												<button type="submit" class="btn btn-outline-danger"><i class="zmdi zmdi-download"></i> &nbsp;&nbsp; Imprimir</button>
											</p>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
</body>
</html>