<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
</head>
<body>
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
				<h1 class="text-titles"><i class="zmdi zmdi-shopping-cart zmdi-hc-fw"></i>Ventas</h1>
			</div>
        </div>
        <!--Internacion de Pacientes-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                        <li class="active"><a href="#new" data-toggle="tab">Nueva Venta</a></li>
                        <li><a href="#list" data-toggle="tab">Reportes de Ventas</a></li>
                    </ul>
                    <!--Lista de Pacientes Internados -->
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="new">
                            <div class="container-fluid">
                                <div class="row">
                                    <form action="">
                                        <h2 class="text-center all-tittles">REGISTRO DE PACIENTES INTERNADOS</h2>
                                        <div class="col-md-12 panel-body">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Historial Clinico</label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Codigo</label>
                                                        <input class="form-control" type="text">    
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Fecha de Ingreso</label>
                                                        <input class="form-control" type="date">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Nombre</label>
                                                        <input class="form-control" type="text">
                                                    </div>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Tipo de Paciente</label>
                                                        <select class="form-control">
                                                            <option>INSTITUCIONAL</option>
                                                            <option>COMBENIO</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Institucion</label>
                                                        <select class="form-control">
                                                            <option>NINGUNO</option>
                                                            <option>CAJA NACIONAL DE SALUD</option>
                                                            <option>CAJA PETROLERA DE SALUD</option>
                                                            <option>SEGURO UNIVERSITARIO</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Proviene de:</label>
                                                        <select class="form-control">
                                                            <option>CONSULTA EXTERNA</option>
                                                            <option>EMERGENCIA</option>
                                                            <option>TRASPAZO</option>
                                                        </select>
                                                    </div>               
                                                </div>
                                             </div>
                                        </div>
                                        <div class="col-xs-12 col-md-10 col-md-offset-1">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Observaciones</label>
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-12 panel-body">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Especialidad</label>
                                                        <select class="form-control">
                                                            <option>Pediatria</option>
                                                            <option>Medicina General</option>
                                                            <option>Cirugia General</option>
                                                            <option>Ginecologia y Obstetricia</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Descricion</label>
                                                        <select class="form-control">
                                                            <option>Sala H.- Niños</option>
                                                            <option>Sala H.- Hombres</option>
                                                            <option>Sala H.- Mujeres</option>
                                                            <option>Sala H.- 3ra. Edad</option>
                                                            <option>Sala H.- Cirugia General</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Cama</label>
                                                        <select class="form-control">
                                                            <option>Cama 1</option>
                                                            <option>Cama 2</option>
                                                            <option>Cama 3</option>
                                                            <option>Cama 4</option>
                                                            <option>Cama 5</option>
                                                        </select>
                                                    </div>
                                                 </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-10 col-md-offset-1">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Descricion</label>
                                                <select class="form-control">
                                                    <option>Dr. Luis Copa</option>
                                                    <option>Dr. Camila Mamani</option>
                                                    <option>Dr. Luis Copa</option>
                                                    <option>Dr. Luis Copa</option>
                                                    <option>Dr. Luis Copa</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-10 col-md-offset-1">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Diagnostico de Prescripcion</label>
                                                <select class="form-control">
                                                    <option>Lista de Enferedades</option>
                                                </select>
                                            </div>
                                        </div>
                                        <p class="text-center">
                                            <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                            <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--Registro de  Pacientes Internados-->
                        <div class="tab-pane fade" id="list">
                            <div class="container-fluid">
                                <div class="col-xs-12 lead">
                                    <ul class="breadcrumb">
                                        <li class="active"><a href="#listaA" data-toggle="tab">Internados</a></li>
                                        <li><a href="#listaB" data-toggle="tab">Historial de Internados</a></li>
                                        <li><a href="#listaC" data-toggle="tab">Diagnosticos Pendientes</a></li>
                                        <li><a href="#listaD" data-toggle="tab">Transferidos</a></li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <!--Lista de Internados-->
                                        <div class="tab-pane fade active in" id="listaA">
                                            <div class="container-fluid">
                                                <table class="fl-table">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Historial Clinico</th>
                                                            <th>Nombre de Paciente</th>
                                                            <th>Especialidad</th>
                                                            <th>Ubicacion</th>
                                                            <th>Fecha de Ingreso</th>
                                                            <th>Fecha de Salida</th>
                                                            <th>Modificar</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--Lista Historial de Internados-->
                                        <div class="tab-pane fade" id="listaB">
                                            <div class="container-fluid">
                                                <table class="fl-table">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Historial Clinico</th>
                                                            <th>Nombre de Paciente</th>
                                                            <th>Especialidad</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--Lista Diagnosticos Pendientes-->
                                        <div class="tab-pane fade" id="listaC">
                                            <div class="container-fluid">
                                                <table class="fl-table">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Historial Clinico</th>
                                                            <th>Nombre de Paciente</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--Lista Transferidos-->
                                        <div class="tab-pane fade" id="listaD">
                                            <div class="container-fluid">
                                                <table class="fl-table">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Historial Clinico</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>  
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	    </section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
</body>
</html>