<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%- include("partials/head") -%>
    <link rel="stylesheet" href="/css/form1.css">
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
				<h1 class="text-titles"><i class="zmdi zmdi-shopping-cart zmdi-hc-fw"></i>Ventas</h1>
			</div>
        </div>
        <!--Internacion de Pacientes-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                        <li class="active"><a href="#new" data-toggle="tab"><i class="zmdi zmdi-shopping-cart"></i> Nueva Venta </a></li>
                        <li><a href="#list" data-toggle="tab"><i class="zmdi zmdi-assignment-o"></i> Lista de Ventas </a></li>
					</ul>
                    <!--Lista de Pacientes Internados -->
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="new">
                            <div class="container-fluid">
                                <div class="row">
                                <h3 class="text-center all-tittles">REGISTRO DE ORDENES DE ATENCION</h3>
                                <form id="form" action="action_page.php" method="post" target="_blank" accept-charset="UTF-8" autocomplete="off" novalidate>
                                    <p>
                                    <div class="grupo" id="cabeza">
                                        <div id="inicio">
                                            <div class="entrada">Codigo:<br>
                                                <input type="text" name="codigo"><br>
                                            </div>
                                            <div class="entrada">Fecha:<br>
                                                <input type="date" name="fecha"><br>
                                            </div>
                                            <div class="entrada">Tipo de Paciente:<br>
                                                <select  name="paciente">
                                                    <option>NINGUNO</option>
                                                    <option>INSTITUCIONAL</option>
                                                    <option>COMBENIO</option>
                                                </select><br>
                                            </div>
                                        </div>
                                        <div id="nombres">
                                            <div class="entrada">Historial Clinico:<br>
                                                <input type="text" name="His_cli"><br>
                                            </div>
                                            <div class="entrada">Apellido Materno: <br>
                                                <input type="text" name="apellido-paterno"><br>
                                            </div>
                                            <div class="entrada">Apellido Materno:<br>
                                                <input type="text" name="apellido-materno"><br>
                                            </div>
                                            <div class="entrada">Nombre(s):<br>
                                                <input type="text" name="nombres"><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grupo" id="prueba">
                                        <div class="cajas3" id="caja2">
                                            <p class="text-center">Tipo de Pago</p>
                                            <div id="grupo3caja2columna1">
                                                <div class="entrada" id="procedencia">Procedencia:<br>
                                                    <select name="proce">
                                                        <option>NINGUNO</option>
                                                        <option>CONSULTA EXTERNA</option>
                                                        <option>EMERGENCIA</option>
                                                        <option>INTERNACION</option>
                                                    </select><br>
                                                </div>
                                                <div class="center" class="entrada">Pago:<br>
                                                    <label class="especie"><input class="left" type="radio" name="especie" value="contado"> Contado</label>
                                                    <label class="especie"><input class="left" type="radio" name="especie" value="pendiente"> Pendiente</label>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="entrada">Categoria:<br>
                                                    <input type="text" name="His_cli"><br>
                                                </div>
                                                <div class="entrada">Observaciones:<br>
                                                    <input type="text" name="His_cli"><br>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cajas3" id="caja3">
                                            <p class="text-center">Datos Medicos</p>
                                            <div id="grupo3caja3columna1">Grupo de Arancel:<br>
                                                <input type="text" name="Grupo_arancel"><br>
                                            </div>
                                            <div id="grupo3caja3columna2">Dators de Doctor<br>
                                                <input type="text" name="doctor"><br>
                                            </div>
                                            <div>
                                                <p class="text-center">
                                                    <button type="button" class="btn btn-info" onclick=location="/recetas"><i class="zmdi zmdi-shopping-cart-plus"></i> Receta</button> &nbsp;&nbsp; 
                                                </p>
                                                <p class="text-center">
                                                    <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar Detalle</button>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <table class="fl-table">
                                        <thead>
                                            <tr>
                                            <th>#</th>
                                            <th>Descripcion</th>
                                            <th>Precio Unitario</th>
                                            <th>Cantidad</th>
                                            <th>Precio de Referncia</th>
                                            <th>Descuento Incremeto</th>
                                            <th>TOTAL</th>
                                            <th>Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                            <td></td>
                                            </tr>
                                        <tbody>
                                    </table>
                                    <p class="text-center">
                                        <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                                        <button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                        </div>
                        <!--Registro de  Pacientes Internados-->
                        <div class="tab-pane fade" id="list">
                        <div class="container-fluid">
                            <div class="col-xs-12 lead">
                                <ul class="breadcrumb">
                                <li class="active"><a href="#listaA" data-toggle="tab">Internados</a></li>
                                <li><a href="#listaB" data-toggle="tab">Historial de Internados</a></li>
                                <li><a href="#listaC" data-toggle="tab">Diagnosticos Pendientes</a></li>
                                <li><a href="#listaD" data-toggle="tab">Transferidos</a></li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                <!--Lista de Internados-->
                                        <div class="tab-pane fade active in" id="listaA">
                                            <div class="container-fluid">
                                                <table class="fl-table">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Historial Clinico</th>
                                                            <th>Nombre de Paciente</th>
                                                            <th>Especialidad</th>
                                                            <th>Ubicacion</th>
                                                            <th>Fecha de Ingreso</th>
                                                            <th>Fecha de Salida</th>
                                                            <th>Modificar</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--Lista Historial de Internados-->
                                        <div class="tab-pane fade" id="listaB">
                                            <div class="container-fluid">
                                                <table class="fl-table">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Historial Clinico</th>
                                                            <th>Nombre de Paciente</th>
                                                            <th>Especialidad</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--Lista Diagnosticos Pendientes-->
                                        <div class="tab-pane fade" id="listaC">
                                            <div class="container-fluid">
                                                <table class="fl-table">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Historial Clinico</th>
                                                            <th>Nombre de Paciente</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--Lista Transferidos-->
                                        <div class="tab-pane fade" id="listaD">
                                            <div class="container-fluid">
                                                <table class="fl-table">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Historial Clinico</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>  
                                </div>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	    </section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
</body>
</html>