* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid rgb(253, 251, 251);
    float: left;
    width: 50%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 10%;
    padding: 10px;
    background: rgb(40, 167, 150);
    color: white;
    font-size: 17px;
    border: 1px solid black;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .contenedor .formm{
    /*background: rgba(245, 102, 13, 0.5);*/
    /*background: rgba(2, 37, 77, 0.336);*/
   background: rgba(204, 223, 241, 0.603);
   /* padding: 5px 40px;
    margin-top: 30px; */
    max-width: 650px;
    border-radius: 3px;
    
  }
  .formm .form-text{
    background: rgba(2, 37, 77, 0.5);
    /*background: rgba(33, 22, 44, 0.4);
    /*background: rgba(238,75,16,.8);
    padding: 5px 40px;*/
    border: none;
    outline: none;
    
    
    border-radius: 3px;
    color: rgb(54, 53, 53);
   font-size: 16px;
   /*font-family: Roboto;*/
  }
   .label-txte{
    color: rgb(5, 5, 5);
  }
  .txtare{
    width: 100%;
    border-radius: 3px;
  }
  
  #div1 {
    overflow:auto;

   /* border:1px solid;
    height:100px;
    width:300px;
    overflow-y:scroll;
    overflow-x:hidden;*/
}

  