* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid rgb(253, 251, 251);
    float: left;
    width: 50%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 10%;
    padding: 10px;
    background: rgb(40, 167, 150);
    color: white;
    font-size: 17px;
    border: 1px solid black;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .contenedor .formm{
    /*background: rgba(245, 102, 13, 0.5);*/
    /*background: rgba(2, 37, 77, 0.336);*/
   background: rgba(204, 223, 241, 0.603);
   /* padding: 5px 40px;
    margin-top: 30px; */
    max-width: 650px;
    border-radius: 3px;
    
  }
  .formm .form-text{
    background: rgba(2, 37, 77, 0.5);
    /*background: rgba(33, 22, 44, 0.4);
    /*background: rgba(238,75,16,.8);
    padding: 5px 40px;*/
    border: none;
    outline: none;
    
    
    border-radius: 3px;
    color: rgb(54, 53, 53);
   font-size: 16px;
   /*font-family: Roboto;*/
  }
   .label-txte{
    color: rgb(5, 5, 5);
  }
  .txtare{
    width: 100%;
    border-radius: 3px;
  }
  
  #div1 {
    overflow:auto;

   /* border:1px solid;
    height:100px;
    width:300px;
    overflow-y:scroll;
    overflow-x:hidden;*/
}

input[type="checkbox"]{
  position: relative;
  width: 85px;
  height: 30px;
  background: #d1d8dd;
  -webkit-appearance: none;
  border-radius: 60px;
  outline: none;
  transition: .4s;
  box-shadow: inset 0 0 10px rgba(0,0,0, 0.2);
  cursor: pointer;
}
input:checked[type="checkbox"]{

  background: #3498db
}
input[type="checkbox"]::before{
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 60%;
  transition: scale(1.1);
  box-shadow: 0 2px 10px rgba(0,0,0, 0.2);
  transition: .3s;
}
input:checked[type="checkbox"]::before{
  left: 55px;
}
.toggle{
  position: relative;
  display: inline;
}
.labell{
  position: absolute;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  pointer-events: none;
}
.onbtn{
  bottom: 2px;
  left: 9px;
}
.ofbtn{
  bottom: 2px;
  right: 5px;
  color: #34495e;
}
/*menu nav*/
.main-nav{
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  opacity: 0;
  visibility: hidden;
}
.menu__item{
  margin: 0 15px;
}
.menu__link{
  color: #fff;
  text-decoration: none;
}
.menu-barr{
  width: 30px;
  margin: 0 10px;
  cursor: pointer;
}
.uno, .dos, .tres{
  width: 100%;
  background: white;
  height: 3px;
  transition: all 0.5s;
}
.dos{
  margin: 5px 0;
}
/*animacion*/
.mostrar .uno{
  transform: rotate(45deg) translate(5px,5px);
}
.mostrar .dos{
  opacity: 0;
}
.mostrar .tres{
  transform: rotate(-45deg) translate(6px, -7px);
}
.mostrar .menu{
  visibility: visible;
  opacity: 1;
}