.oculVistaReal{
    display: none;
}
#ocultoVreal{
    display: none;   
}
.his{
    padding: 0% 0;
    left: 0px;
    height: auto;
	width: 100%;
    margin:0px;
    float:left;
   border: 1px;

    position: relative;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid; 

}
.clear
{
clear:both;
}