@media print {
    body * {
    visibility: hidden;
    }
    #print_data_holder, #print_data_holder * {
    visibility: visible;
    }
    #print_data_holder {
    position: absolute;
    left: 0;
    top: 0;
    }
}