table {  
    font-family: arial, sans-serif;  
    border-collapse: collapse;  
    width: 100%;  
}  

td, th {  
    border: 1px solid #dddddd;  
    text-align: left;  
    padding: 8px;  
}  

tr:nth-child(even) {  
    background-color: #dddddd;  
} 

h2{
color: #0094ff
}

p{
font-size: large
}


form{
max-width: none;
width: 1005px;

}