<!DOCTYPE html>
<html lang="es">
<head>
	<title>Examen Fisico</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("../partials/head") -%>
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- SideBar Menu Hospital-->
	<ul class="list-unstyled full-box dashboard-sideBar-Menu">
		<li>
			<a href="">
				<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Home
			</a>
		</li>
				   
		<!-- hospitalzacion-->
		<li>
			<a href="#!" class="btn-sideBar-SubMenu">
				<i class="zmdi zmdi-hospital-alt zmdi-hc-fw"></i> Hospitalizacion <i class="zmdi zmdi-caret-down pull-right"></i>
			</a>
			<ul class="list-unstyled full-box">
				<li><a href=""><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i>Liatas de citas</a></li>

				<li><a href="/hospitalizacion/alergiasvis"><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i>prueba</a></li>
			</ul>

		</li> 
	</ul>
	<%- include("partials/menuFooter") -%>
	<!-- Content page-->
<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar">
		<ul class="full-box list-unstyled text-right">
			<li class="pull-left">
		    	<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
			</li>
		</ul>
	</nav>
	<!-- Content page -->
	<div class="container-fluid col-md-12" id="">
		<div class="page-header  col-md-6">	
			<h1 class="text-titles"><i class="zmdi zmdi-hospital zmdi-hc-fw"></i> Orden de Internación<small></small></h1>  
		</div><br><br>
   
		<div id="" class="col-md-2">
	
			<div class="">
				<a href="" class="btn btn-success btn-raised btn-lg"><i class=""></i>Atras</a>	
			</div>
		
		</div>
	</div>
	<!-- Orden de Intenacion-->
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade active in" id="new">
		  <div class="container-fluid">
			<div class="row">
			  <div class="col-xs-12">
			  <form action="" method="POST">
				<div class="grupo" id="cabeza">

				<p>Datos del Paciente </p>
				  <div id="tres2">
					<div class="entrada">Nombre Completo:<br>
					  <input type="text" name="" value=""><br>
					</div>
					<div class="entrada">CI.:<br>
					  <input type="text" name="" value=""><br>
					</div>
					<div class="entrada">Sexo:<br>
					  <input type="text" name="" value=""><br>
					</div>
				  </div>
				  <div id="tres2">
					<div class="entrada">Fecha de Ingreso:<br>
						<input type="text" name="" value=""size="10"><br>
					</div>
					<div class="entrada">Fecha de Alta:<br>
						<input type="text" name="" value=""size="10"><br>
					</div>
					<div class="entrada">Diagnostico de Ingreso:<br>
						<textarea class="large-compact" name="" cols="" rows=""></textarea>
					</div>
				  </div>


				</div>
				<br>
				<p>Resumenes de:</p>
				<div class="grupo" id="cabeza">
					<div class="panel with-nav-tabs panel-default">
						<div class="panel-heading">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab1default" data-toggle="tab">Examen Clínico</a></li>
								<li><a href="#tab2default" data-toggle="tab">la evolucion en caso de Complicaciones</a></li>
								<li><a href="#tab3default" data-toggle="tab">Drogas usadas para el Tratamiento Médico</a></li>
						
							</ul>
						</div>
						<div class="panel-body">
							<div class="tab-content">
								<div class="tab-pane fade in active" id="tab1default"><textarea class="large-compact" name="anamnesis"  cols="100" rows="10"></textarea></div>
								<div class="tab-pane fade" id="tab2default"><textarea class="large-compact" name="diagnostico" cols="100" rows="10"></textarea></div>
								<div class="tab-pane fade" id="tab3default"><textarea class="large-compact" name="tratamiento"  cols="100" rows="10"></textarea></div>

							</div>
						</div>
					</div>
				</div> 
				<br>
				<div class="grupo" id="cabeza">
					<div id="tres2">
					 
					  <div class="entrada">Intervenciones Quirurgicas:<br>
						  <textarea class="large-compact" name="" cols="" rows=""></textarea>
					  </div>
					  <div class="entrada">Diagnoastico Post-operatorio:<br>
						  <textarea class="large-compact" name="" cols="" rows=""></textarea>
					  </div>
					  <div class="entrada">Resultados de Anatomia Patológico:<br>
						<textarea class="large-compact" name="" cols="" rows=""></textarea>
					  </div>
					</div>	
				</div>
			
				<p></p>

				<div class="grupo" id="cabeza">
				  <div id="correo">
					<div class="entrada">hallazgos de Laboratorio:<br>
						<textarea class="large-compact" name="" cols="" rows=""></textarea>
					</div>
					<div class="entrada">Diagnóstico final:<br>
						<textarea class="large-compact" name="" cols="" rows=""></textarea>
					</div>
				  </div>
				  <div id="tres2">
					<div class="entrada">Estado del Paciente al ser dado de Alta y sus indicaciones:<br>
						<textarea class="large-compact" name="" cols="50" rows=""></textarea>
					</div>
				  </div>
				</div>
				<br>
		
				

				<div class="grupo" id="cabeza">
					<div id="tres2">
					 
					  <div class="entrada">Plan de manejo de tratamiento:<br>
						  <textarea class="large-compact" name="" cols="" rows=""></textarea>
					  </div>
					  <div class="entrada">Resultados de autopcia:<br>
						  <textarea class="large-compact" name="" cols="" rows=""></textarea>
					  </div>
					  <div class="entrada">Breve comentario final:<br>
						<textarea class="large-compact" name="" cols="" rows=""></textarea>
					  </div>
					</div>	
				</div>
			
				<div class="grupo" id="cabeza">
					<div class="panel with-nav-tabs panel-default">
						<div class="panel-heading">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab1default" data-toggle="tab">Plan de manejo de tratamiento</a></li>
								<li><a href="#tab2default" data-toggle="tab">Resultados de autopcia</a></li>
								<li><a href="#tab3default" data-toggle="tab">Breve comentario final</a></li>
								
							</ul>
						</div>
						<div class="panel-body">
							<div class="tab-content">
								<div class="tab-pane fade in active" id="tab1default"><textarea class="large-compact" name="anamnesis"  cols="100" rows="10"></textarea></div>
								<div class="tab-pane fade" id="tab2default"><textarea class="large-compact" name="diagnostico" cols="100" rows="10"></textarea></div>
								<div class="tab-pane fade" id="tab3default"><textarea class="large-compact" name="tratamiento"  cols="100" rows="10"></textarea></div>
							
							</div>
						</div>
					</div>
				</div> 
				
				  
				  <p class="text-center">
					  <button type="reset" class="btn btn-info btn-raised" style="margin-right: 15px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
					  <button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
					  <button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Imprimir</button>
				  </p>
				</form>

				                                                                         
			  </div>                          
		  </div>
		</div>
	  </div>
	</div>
</section>
	<!--====== Scripts -->
	<%- include("../partials/scripts") -%>
</body>
</html>