<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doctor Enfermera</title>
    <link rel="stylesheet" href="/css/viewButton.css">
</head>
<body>
    <div class="button">
        <a href="/"> <span>HOME</span> </a>       
    </div>
    <div class="button2">
        <a href="#"><span>ENFERMERA</span></a>
        
    </div>
    <div class="button3">
        <a href="#"><span><div>D</div><div>O</div><div>C</div><div>T</div><div>O</div><div>R</div></span></a>
        
    </div>
</body>
</html>