<!DOCTYPE html>
<html lang="es">

<head>
	<link rel="icon" type="image/png" sizes="16x16" href="/images/gfu.png">
	<title>Examenes Complementarios</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta charset="UTF-8">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

		<link href="/css/moldeable.css" rel="stylesheet" type="text/css" />

	<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/animate.css" rel="stylesheet" type="text/css" />
	<link href="/css/admin.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">



	<link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
	<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />

	<style>
		div.a {
			text-align: center;
		}

		h1.letras {
			font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

		}
	</style>

</head>

<body class="light_theme  fixed_header left_nav_fixed">
	<!-- Content page-->
	<div class="wrapper" >
		<!--\\\\\\\ wrapper Start \\\\\\-->
		<div class="header_bar">
			<!--\\\\\\\ header Start \\\\\\-->
			<div class="brand">
				<!--\\\\\\\ brand Start \\\\\\-->
				<div class="logo" style="display:block"><span class="theme_color">Hospital</div>

			</div>
			<!--\\\\\\\ brand end \\\\\\-->
			<div class="header_top_bar">
				<!--\\\\\\\ header top bar start \\\\\\-->
				<a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

				<div class="top_right_bar">

					<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/user.png" /><span class="user_adminname">John Doe</span> <b class="caret"></b> </a>
						<ul class="dropdown-menu">
							<div class="top_pointer"></div>
							
							<li> <a href="login.html"><i class="fa fa-power-off"></i> Cerrar sesión</a> </li>
						</ul>
					</div>
				</div>
			</div>
			<!--\\\\\\\ header top bar end \\\\\\-->
		</div>
		<div class="inner" id="lab_consulta_externa">
			<!--\\\\\\\ inner start \\\\\\-->
			<div class="left_nav">

				<!--\\\\\\\left_nav start \\\\\\-->

				<div class="left_nav_slidebar">
					<ul>
						<li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
							<ul>
								<li> <a href=""> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b>Inicio</b> </a> </li>
							</ul>
						</li>
						<li> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Consulta Externa<span class="plus"><i class="fa fa-plus"></i></span></a>
							<ul>
								<li> <a href=""> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Listas de Citas</b> </a> </li>
							</ul>
						</li>
						<li> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Historial<span class="plus"><i class="fa fa-plus"></i></span></a>
							<ul>
								<li> <a href="/hospitalizacion/VerHistorialvis"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Última Consulta</b> </a> </li>
								
							</ul>
						</li>
						<li> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Reporte<span class="plus"><i class="fa fa-plus"></i></span></a>
							<ul>
								<li> <a href=""> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Historial Clinico</b> </a> </li>
								<li> <a href=""> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Vicitas al doctor</b> </a> </li>
								<li> <a href=""> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Recetas</b> </a> </li>
							</ul>
						</li>
						
					</ul>
				</div>
			</div>
			<!--\\\\\\\left_nav end \\\\\\-->
			<div class="contentpanel">
				<!--\\\\\\\ contentpanel start\\\\\\-->
				<div class="container clear_both padding_fix col-lg-8">
					<br>
					<div class="row">
						<div class="col-lg-12 ">
							<!--\\\\\\\ contentpanel start\\\\\\-->
							<div class="row">
								<div class="col-md-12">
									<div class="block-web">
										<div class="header">
											<div class="info blue_symbols "> <i class="fa fa-stack-overflow icon "></i>
											</div>
											<h2 class="content-header " > <span>&nbsp;&nbsp;&nbsp;</span>Orden de Examen </h2>
											<div  class="col-md-2"><br>
												<div class="">
													<a href="/medico/volver" class="list-group-item  blue_bg text-center "><i class="fa fa-hand-o-left"></i> ATRAS</a>
												</div>
											</div>
										</div>
										<br>
										<br>
										<div class="block-web">
											<div class="col-md-14">
												<div class="row">
													<div class="">

														<div class="col-sm-4">
															<label class="control-labe">Nombre del Paciente:</label>
															<input type="text" class="form-control" parsley-trigger="change" name="" required placeholder="Nombre del Paciente" />
														</div>
														<div class="col-sm-4">
															<label class="control-labe">Numero de Historial:</label>
															<input type="text" name="grupo" class="form-control" parsley-trigger="change" name="" required placeholder="Introdusca N° Historial" />
														</div>
														<div class="col-sm-4">
															<label class="control-labe">C.I.:</label>
															<input type="text" name="titulo" class="form-control" parsley-trigger="change" name="" required placeholder="Introdusca CI." />
														</div><br>
														
														
													
													</div>
												</div>

											</div>
										</div>
									</div>
									<!-- 
										<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
										<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
																						tab de laboratorios
										<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
										<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
									 -->
									<div class="col-lg-14">
										<section class="panel default blue_title h2">
											  <div class="panel-heading">LABORATORIOS<span class="semi-bold"> </span> </div>
											  <div class="panel-body">
												<ul class="nav nav-tabs" id="myTab">
													  <li class="active"><a data-toggle="tab" href="#Tab1">Ecografia</a></li>
													  <li><a data-toggle="tab" href="#Tab2">Rayos X</a></li>
													  <li><a data-toggle="tab" href="#Tab3">Laboratorios</a></li>
												</ul>
												<div class="tab-content" id="myTabContent">
													<div id="Tab1" class="tab-pane fade in active">
														<!-- 
															<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
															<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
																											ECOGRAFIA
															<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
															<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
														 -->
														
														 <h4>ECOGRAFIA</h4>
														 <div class="row">
															<div class="col-md-14 row">

																<form action="">
																	<div class="col-md-12">
																		
																		<div class="checkbox-inline">
																			<label class=" ">
																				<input @click="ecografia_select('1','ESTUDIO HEPATOBILIAR','HÍGADO - PÁNCREAS - VESÍCULA BILIAR - VÍAS BILIARES')" type="checkbox" /><!-- checked -->
																				<FONT SIZE=1><b>1.- Estudio Hepatobiliar:</b> <br>HÍGADO - PÁNCREAS - VESÍCULA BILIAR - VÍAS BILIARES</FONT>
																			 </label>
																		</div>
																		<div class="checkbox-inline">
																			<label class=" ">
																				<input @click="ecografia_select('2','ESTUDIO NEFROLÓGICO','RIÑONES - CONDUCTOS - VEJIGA URINARIA')" type="checkbox"  />
																				<FONT SIZE=1><b>2.- Estudio Nefrológico:</b> <br>RIÑONES - CONDUCTOS - VEJIGA URINARIA</FONT>
																			</label>
																		</div>
																		<div class="checkbox-inline">
																			<label class=" ">
																				<input @click="ecografia_select('3','ESTUDIO GINECOLÓGICO','ÚTERO - OVARIOS - TROMPAS - FONDO DE SACO POSTERIOR')" type="checkbox" />
																				<FONT SIZE=1><b>3.- Estudio Ginecológico:</b> <br>ÚTERO - OVARIOS - TROMPAS - FONDO DE SACO POSTERIOR </FONT>
																			 </label>
																		</div>
																		<div class="checkbox-inline">
																			<label class=" ">
																				<input @click="ecografia_select('4','ESTUDIO OBSTÉTRICO','VITALIDAD - BIOMETRÍA - PESO PLACENTA - LÍQUIDO AMNIÓTICO - SEXO')" type="checkbox"/>
																				<FONT SIZE=1><b>4.- Estudio Obstétrico:</b> <br>VITALIDAD - BIOMETRÍA - PESO PLACENTA - LÍQUIDO AMNIÓTICO - SEXO</FONT>
																			 </label>
																		</div>
																		<div class="checkbox-inline">
																			<label class=" ">
																				<input @click="ecografia_select('5','ESTUDIO UROLÓGICO','PRÓSTATA - VEJIGA URINARIA - VOL DE LLENADO - VOL PORT MICCIÓN')" type="checkbox"  />
																				<FONT SIZE=1><b>5.- Estudio Urológico:</b> <br>PRÓSTATA - VEJIGA URINARIA - VOL DE LLENADO - VOL PORT MICCIÓN</FONT>
																			 </label>
																		</div>
																		
																	</div>
																	<!-- 
																		<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
																		<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
																										Lista de Ecografias
																		<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
																		<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
																	 -->
																	<div class="col-lg-12">
																		<section class="panel default blue_title h2">
																		 
																		<div class="panel-body">														

																			<!-- Standard gray button with gradient -->
																			<template v-for="(list,index) in ecografia">
																				<button type="button" class="btn btn-default" @click="delete_exografia(index)">{{list.estudio}}</button>
																			</template>
																		</div>
																			
																		</section>
																	</div>

																	<div class="col-md-12 ">
																		<label class=" ">Otros:</label><br>
																		<textarea class="large-compact" name="anamnesis"  cols="117" rows="3" class="form-control"></textarea>
																	</div>
																	
																	<div class="col-md-12 page-content ">
																		<div class="col-md-8 ">
																			<button type="reset" class="btn btn-danger" data-dismiss="modal"> <i class='fa fa-times'></i>&nbsp;&nbsp;Cancelar</button>
																			<button type='submit' class='btn btn-success'><i class='fa fa-save'></i> &nbsp;&nbsp; Guardar</button>
																			<button type="reset"class="btn btn-warning btn-icon"onclick="window.print()"> Imprimir <span>&nbsp;</span><i class="fa fa-print"></i> </button>
																		</div>
																	</div>
																</form>						
																		
															</div>
														 </div>


													</div>

													<div id="Tab2" class="tab-pane fade">

														<textarea name="" id="" cols="30" rows="10">{{$data}}</textarea>

														<div class="col-md-14">
															<form action="" method="POST">
															
																<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Torax >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
																<div class="col-md-3">
																	<div class="block-web">
																		<div class="porlets-content">
																			<div class="row">
																				<div class="col-md-12">																			


																					<div class="form-group">

																					  	<label class="control-label">Torax</label><br>

																					  	<div class="col-sm-12 icheck ">
																						
																							<div class="minimal single-row">
																								<div class="checkbox ">
																								  	<input @click="rayosX_select('1','Tórax Pa.')" type="checkbox" >
																								  	<label>Tórax Pa. </label>
																								</div>
																							</div>
																							<div class="minimal-red single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('1','Tórax Osco')" type="checkbox" >
																									<label>Tórax Osco</label>
																								</div>
																					  		</div>
																						  
																					  		<div class="minimal-green single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('1','Tórax Lateral')" type="checkbox" >
																									<label>Tórax Lateral</label>
																								</div>
																					  		</div>
																						  
																					  		<div class="minimal-blue single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('1','Tórax en Trendelemburg')" type="checkbox" >
																									<label>Tórax en Trendelemburg</label>
																								</div>
																					  		</div>
																						  
																					  		<div class="minimal-yellow single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('1','Hemitórax oblicua derecha (Arcos Costales)')" type="checkbox" >
																									<label>Hemitórax oblicua derecha (Arcos Costales)</label>
																								</div>
																					  		</div>
																						  
																					  		<div class="minimal-purple single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('1','Hemitórax oblicua izquierda (Arcos Costales)')" type="checkbox" >
																									<label>Hemitórax oblicua izquierda (Arcos Costales)</label>
																								</div>
																							</div>
																						</div>
																					</div>
																					<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Abdomen >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
																					<div class="form-group">
																						<label class="control-label">Abdomen</label><br>

																						<div class="col-sm-12 icheck ">
																						
																							<div class="minimal single-row">
																							  	<div class="checkbox ">
																									<input @click="rayosX_select('2','Apéndice xifoides - Sifilis del pubis')" type="checkbox" >
																									<label>Apéndice xifoides - Sifilis del pubis</label>
																							  	</div>
																							</div>
																							<div class="minimal-red single-row">
																							  	<div class="checkbox ">
																									<input @click="rayosX_select('2','Abdomen Ap (de pie o en de cúbito)')" type="checkbox" >
																									<label>Abdomen Ap (de pie o en de cúbito)</label>
																							  	</div>
																							</div>
																						
																							<div class="minimal-green single-row">
																							  	<div class="checkbox ">
																									<input @click="rayosX_select('2','Abdomen en Trendelemburg')" type="checkbox" >
																									<label>Abdomen en Trendelemburg</label>
																							  	</div>
																							</div>
																						
																							<div class="minimal-blue single-row">
																							  	<div class="checkbox ">
																									<input @click="rayosX_select('2','Invertografía (Imperforación anal)')" type="checkbox" >
																									<label>Invertografía (Imperforación anal)</label>
																							  	</div>
																							</div>											
																						</div>
																					</div>																	

																				</div>

																			</div>
																		</div>
																	</div>
																</div>
																<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
																<div class="col-md-3">
																	<div class="block-web">
																		<div class="porlets-content">
																			<div class="row">
																				<div class="col-md-12">																			

																					<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Cráneo y Macizo Facial >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
																					<div class="form-group">

																						<label class="control-label">Cráneo y Macizo Facial</label><br>
																						<div class="col-sm-12 icheck ">
																						
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('3','Cáneo(Ap. lateral)')" type="checkbox" >
																									<label>Cáneo(Ap. lateral)</label>
																								</div>
																							</div>
																							<div class="minimal-red single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('3','Cráneo Tawne(Agj.Occipital)')" type="checkbox" >
																									<label>Cráneo Tawne(Agj.Occipital)</label>
																								</div>
																							</div>
																						
																							<div class="minimal-green single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('3','Cráneo macizo facial Ap.')" type="checkbox" >
																									<label>Cráneo macizo facial Ap.</label>
																								</div>
																							</div>
																						
																							<div class="minimal-blue single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('3','Cráneo Silla Turca Lateral')" type="checkbox" >
																									<label>Cráneo Silla Turca Lateral</label>
																								</div>
																							</div>
																						
																							<div class="minimal-yellow single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('3','Cráneo StenversDer.(Peñasco)')" type="checkbox" >
																									<label>Cráneo StenversDer.(Peñasco)</label>
																								</div>
																							</div>
																						
																							<div class="minimal-purple single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('3','Cráneo Stenvers Izq.(Peñasco)')" type="checkbox" >
																									<label>Cráneo Stenvers Izq.(Peñasco)</label>
																								</div>
																							</div>
																							<div class="minimal-purple single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('3','Cráneo macizo facial Lateral')" type="checkbox" >
																									<label>Cráneo macizo facial Lateral</label>
																								</div>
																							</div>
																							<div class="minimal-purple single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('3','Cráneo Mayor izquierdo (Oido externo, matoides)')" type="checkbox" >
																									<label>Cráneo Mayor izquierdo<br>(Oido externo, matoides)</label>
																								</div>
																							</div>
																						</div>
																					</div>
																					<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Placas Radiograficas de craneo y macizo facial >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
																					<div class="form-group">
																						<label class="control-label">Placas Radiográficas de craneo y macizo facial</label><br>

																						<div class="col-sm-12 icheck ">
																						
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('4','Huecos Propios de la nariz(Ap. y Lateral)')" type="checkbox" >
																									<label>Huecos Propios de la nariz(<br>Ap. y Lateral)</label>
																								</div>
																							</div>			
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('4','Maxilar Superior Ap.')" type="checkbox" >
																									<label>Maxilar Superior Ap.</label>
																								</div>
																							</div>	

																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('4','Senos paranasales (Laterales)')" type="checkbox" >
																									<label>Senos paranasales (Laterales)</label>
																								</div>
																							</div>	
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('4','Art.Temporomaxilar Izquierdo (boca cerrada y boca abierta)')" type="checkbox" >
																									<label>Art.Temporomaxilar Izquierdo (boca cerrada y boca abierta)</label>
																								</div>
																							</div>	
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('4','Senos paranasales (Fron y Nasal)')" type="checkbox" >
																									<label>Senos paranasales <br>(Fron y Nasal)</label>
																								</div>
																							</div>	
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('4','Maxilar inferior Ap.')" type="checkbox" >
																									<label>Maxilar inferior Ap.</label>
																								</div>
																							</div>	
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('4','Maxilar inferior Latearal')" type="checkbox" >
																									<label>Maxilar inferior Latearal</label>
																								</div>
																							</div>	
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('4','Cráneo Cavuno Faringeo')" type="checkbox" >
																									<label>Cráneo Cavuno Faringeo</label>
																								</div>
																							</div>	
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('4','Art.Temporomaxilar Derecha (boca cerrada y boca abierta)')" type="checkbox" >
																									<label>Art.Temporomaxilar Derecha<br>(boca cerrada y boca abierta)</label>
																								</div>
																							</div>								
																						</div>
																					</div>																	

																				</div>

																			</div>
																		</div>
																	</div>
																</div>
																<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
																<div class="col-md-3">
																	<div class="block-web">
																		<div class="porlets-content">
																			<div class="row">
																				<div class="col-md-12">																			

																					<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Columna vertebral >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
																					<div class="form-group">

																						<label class="control-label">Columna vertebral</label><br>
																						<div class="col-sm-12 icheck ">
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('5','Col. Cervical(Ap. y Lateral)')"type="checkbox" >
																									<label>Col. Cervical(Ap. y Lateral)</label>
																								</div>
																							</div>
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('5','Col.Cervical (Oblicuas Der. e Izq)')" type="checkbox" >
																									<label>Col.Cervical <br>(Oblicuas Der. e Izq)</label>
																								</div>
																							</div>
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('5','Col.Dorsal del Cúbito Dorsal o de pie(Ap. y Lateral)')" type="checkbox" >
																									<label>Col.Dorsal del Cúbito Dorsal <br>o de pie(Ap. y Lateral)</label>
																								</div>
																							</div>
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('5','Col.Dorsal del Cúbito Dorsal o de pie(Oblicuas Der. e Izq)')" type="checkbox" >
																									<label>Col.Dorsal del Cúbito Dorsal<br> o de pie(Oblicuas Der. e Izq)</label>
																								</div>
																							</div>
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('5','Col.Lumbar del Cúbito Dorsal o de pie( Ap. y Lateral)')" type="checkbox" >
																									<label>Col.Lumbar del Cúbito Dorsal <br>o de pie( Ap. y Lateral)</label>
																								</div>
																							</div>
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('5','Col. Lumbar del Cúbito Dorsal o de pie(Oblicuas Der. e Izql')" type="checkbox" >
																									<label>Col. Lumbar del Cúbito Dorsal o de pie(Oblicuas Der. e Izql</label>
																								</div>
																							</div>
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('5','Col.Sacrocoxigea de Cúbito')" type="checkbox" >
																									<label>Col.Sacrocoxigea de Cúbito</label>
																								</div>
																							</div>
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('5','Dorsal o de pie(Ap. y Lateral)')" type="checkbox" >
																									<label>Dorsal o de pie(Ap. y Lateral)</label>
																								</div>
																							</div>
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('5','Col.Dorsal Lateral de pie(en Flexion y extencion)')" type="checkbox" >
																									<label>Col.Dorsal Lateral de<br> pie(en Flexion y extencion)</label>
																								</div>
																							</div>
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('5','Col.Lumbar Lateral de pie(en Flexion y extencion)')" type="checkbox" >
																									<label>Col.Lumbar Lateral de pie(en Flexion y extencion)</label>
																								</div>
																							</div>
																						</div>

																					</div>
																					<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Miembros superiores >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
																					<div class="form-group">
																						<label class="control-label">Miembros superiores</label><br>

																						<div class="col-sm-12 icheck ">
																						
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('6','Hombro (Ap.)')" type="checkbox" >
																									<label>Hombro (Ap.)</label>
																								</div>
																							</div>			
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('6','Hombro Axial')"type="checkbox" >
																									<label>Hombro Axial</label>
																								</div>
																							</div>	

																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('6','Hombro Tangencial')" type="checkbox" >
																									<label>Hombro Tangencial</label>
																								</div>
																							</div>	
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('6','Omóplato(Ap.)')" type="checkbox" >
																									<label>Omóplato(Ap.)</label>
																								</div>
																							</div>	
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('6','Omóplato Axial')" type="checkbox" >
																									<label>Omóplato Axial</label>
																								</div>
																							</div>	
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('6','Mano Ap. y Oblicua')" type="checkbox" >
																									<label>Mano Ap. y Oblicua </label>
																								</div>
																							</div>	
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('6','Mano Canal Carpiano')" type="checkbox" >
																									<label>Mano Canal Carpiano</label>
																								</div>
																							</div>	
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('6','Mano Pisiforme(Ap.)')" type="checkbox" >
																									<label>Mano Pisiforme(Ap.)</label>
																								</div>
																							</div>	
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('6','Desos Ap. y Lateral')" type="checkbox" >
																									<label>Desos Ap. y Lateral</label>
																								</div>
																							</div>	
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('6','Omóplato Tangencial')" type="checkbox" >
																									<label>Omóplato Tangencial</label>
																								</div>
																							</div>	
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('6','Clavícula(Ap.)')" type="checkbox" >
																									<label>Clavícula(Ap.)</label>
																								</div>
																							</div>
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('6','Clavícula Axial')" type="checkbox" >
																									<label>Clavícula Axial</label>
																								</div>
																							</div>	
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('6','Clavícula Tangencial')" type="checkbox" >
																									<label>Clavícula Tangencial</label>
																								</div>
																							</div>	
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('6','Art. Esternoclavicular(Ap.)')" type="checkbox" >
																									<label>Art. Esternoclavicular(Ap.)</label>
																								</div>
																							</div>	
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('6','Brazo Ap. y Lat.')" type="checkbox" >
																									<label>Brazo Ap. y Lat.</label>
																								</div>
																							</div>	
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('6','Antebrazo Ap. y Lat')" type="checkbox" >
																									<label>Antebrazo Ap. y Lat</label>
																								</div>
																							</div>	
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('6','Codo Ap. y Lat')" type="checkbox" >
																									<label>Codo Ap. y Lat</label>
																								</div>
																							</div>	
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('6','Art. Codo Tangencial')" type="checkbox" >
																									<label>Art. Codo Tangencial</label>
																								</div>
																							</div>		
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('6','Muñeca Ap. y Lat')" type="checkbox" >
																									<label>Muñeca Ap. y Lat</label>
																								</div>
																							</div>							
																						</div>
																					</div>																	

																				</div>

																			</div>
																		</div>
																	</div>
																</div>
																<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Miembros inferiores >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
																<div class="col-md-3">
																	<div class="block-web">
																		<div class="porlets-content">
																			<div class="row">
																				<div class="col-md-12">																			


																					<div class="form-group">

																						  <label class="control-label">Miembros inferiores</label><br>

																						  <div class="col-sm-12 icheck ">
																						
																							<div class="minimal single-row">
																								<div class="checkbox ">
																									  <input @click="rayosX_select('7','Pelvis(Ap. adultos, niños)')" type="checkbox" >
																									  <label>Pelvis(Ap. adultos, niños)</label>
																								</div>
																							</div>
																							<div class="minimal-red single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('7','Pelvis Axial')" type="checkbox" >
																									<label>Pelvis Axial</label>
																								</div>
																							  </div>
																						  
																							  <div class="minimal-green single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('7','Pelvis Tangencial')" type="checkbox" >
																									<label>Pelvis Tangencial</label>
																								</div>
																							  </div>
																						  
																							  <div class="minimal-blue single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('7','Sinfisis del Pubis')" type="checkbox" >
																									<label>Sinfisis del Pubis</label>
																								</div>
																							  </div>
																						  
																							  <div class="minimal-yellow single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('7','Art. Coxofemoral Ap.')" type="checkbox" >
																									<label>Art. Coxofemoral Ap.</label>
																								</div>
																							  </div>
																						  
																							  <div class="minimal-purple single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('7','Art. Coxofemoral Lat.')" type="checkbox" >
																									<label>Art. Coxofemoral Lat.</label>
																								</div>
																							</div>
																							<!--  -->
																							<div class="minimal-purple single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('7','Art. Coxofemoral Tang.')" type="checkbox" >
																									<label>Art. Coxofemoral Tang.</label>
																								</div>
																							</div>
																							<div class="minimal-purple single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('7','Musculo Ap. y Lat.')" type="checkbox" >
																									<label>Musculo Ap. y Lat.</label>
																								</div>
																							</div>
																							<div class="minimal-purple single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('7','Pierna Ap. y Lat.')" type="checkbox" >
																									<label>Pierna Ap. y Lat.</label>
																								</div>
																							</div>
																							<!--  -->
																							<div class="minimal-purple single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('7','Rodilla Ap. y Lat.')" type="checkbox" >
																									<label>Rodilla Ap. y Lat.</label>
																								</div>
																							</div>
																							<div class="minimal-purple single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('7','Tobillo Ap. y Lat.')" type="checkbox" >
																									<label>Tobillo Ap. y Lat.</label>
																								</div>
																							</div>
																							<div class="minimal-purple single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('7','Rodilla Oblicua')" type="checkbox" >
																									<label>Rodilla Oblicua</label>
																								</div>
																							</div>
																							<div class="minimal-purple single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('7','Rodilla con Carga')" type="checkbox" >
																									<label>Rodilla con Carga</label>
																								</div>
																							</div>
																							<div class="minimal-purple single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('7','Rótula Tangencial')" type="checkbox" >
																									<label>Rótula Tangencial</label>
																								</div>
																							</div>
																							<div class="minimal-purple single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('7','Tobillo Oblicua')" type="checkbox" >
																									<label>Tobillo Oblicua</label>
																								</div>
																							</div>
																							<div class="minimal-purple single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('7','Tobillo Tangencial')" type="checkbox" >
																									<label>Tobillo Tangencial</label>
																								</div>
																							</div>
																							<div class="minimal-purple single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('7','Calcaneo(Tang. y Lat.)')" type="checkbox" >
																									<label>Calcaneo(Tang. y Lat.)</label>
																								</div>
																							</div>
																							<div class="minimal-purple single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('7','Pié Ap. y Lat(de cúbito Dorsal)')" type="checkbox" >
																									<label>Pié Ap. y Lat(de cúbito Dorsal)</label>
																								</div>
																							</div>
																							<div class="minimal-purple single-row">
																								<div class="checkbox ">
																									<input @click="rayosX_select('7','Pié con carga(parado)')" type="checkbox" >
																									<label>Pié con carga(parado)</label>
																								</div>
																							</div>
																						
																						</div>
																					</div>																																			

																				</div>

																			</div>
																		</div>
																	</div>
																</div>
																<div class="col-lg-12">
																	<section class="panel default blue_title h2">
																	 
																	<div class="panel-body">	
																		<label v-if="group_rayosX.torax != ''">Torax:</label><br>													
																		<!-- Standard gray button with gradient -->
																		<template v-for="(list, index) in group_rayosX.torax">
																			<button type="button" class="btn btn-default" >{{list.descripcion}}</button>																			
																		</template>	
																	</div>
																	<div class="panel-body">
																		<label v-if="group_rayosX.abdomen != ''">Abdomen</label><br>														
																		<!-- Standard gray button with gradient -->
																		<template v-for="(list, index) in group_rayosX.abdomen">
																			<button type="button" class="btn btn-default" >{{list.descripcion}}</button>																			
																		</template>	
																	</div>	
																	<div class="panel-body">
																		<label v-if="group_rayosX.craneo_Macizo_Facial != ''">Craneo_Macizo_Facial</label>	<br>													
																		<!-- Standard gray button with gradient -->
																		<template v-for="(list, index) in group_rayosX.craneo_Macizo_Facial">
																			<button type="button" class="btn btn-default" >{{list.descripcion}}</button>																			
																		</template>	
																	</div>	
																	<div class="panel-body">
																		<label v-if="group_rayosX.Placas_Radiograficas != ''">Placas Radiograficas</label>	<br>													
																		<!-- Standard gray button with gradient -->
																		<template v-for="(list, index) in group_rayosX.Placas_Radiograficas">
																			<button type="button" class="btn btn-default" >{{list.descripcion}}</button>																			
																		</template>	
																	</div>	
																	<div class="panel-body">
																		<label v-if="group_rayosX.Columna_vertebral != ''">Columna vertebral</label><br>													
																		<!-- Standard gray button with gradient -->
																		<template v-for="(list, index) in group_rayosX.Columna_vertebral">
																			<button type="button" class="btn btn-default" >{{list.descripcion}}</button>																			
																		</template>	
																	</div>	
																	<div class="panel-body">
																		<label v-if="group_rayosX.Miembros_superiores != ''">Miembros superiores</label><br>														
																		<!-- Standard gray button with gradient -->
																		<template v-for="(list, index) in group_rayosX.Miembros_superiores">
																			<button type="button" class="btn btn-default" >{{list.descripcion}}</button>																			
																		</template>	
																	</div>	
																	<div class="panel-body">
																		<label v-if="group_rayosX.Miembros_inferiores != ''">Miembros inferiores</label><br>														
																		<!-- Standard gray button with gradient -->
																		<template v-for="(list, index) in group_rayosX.Miembros_inferiores">
																			<button type="button" class="btn btn-default" >{{list.descripcion}}</button>																			
																		</template>	
																	</div>	

																	</section>
																</div>
																<div class="col-md-12 ">
																	<label class=" ">Otros:</label><br>
																	<textarea class="large-compact" name="anamnesis"  cols="117" rows="3" class="form-control"></textarea>
																</div>
																<div class="col-md-12 page-content ">
																	<div class="col-md-8 ">
																		<button type="reset" class="btn btn-danger" data-dismiss="modal"> <i class='fa fa-times'></i>&nbsp;&nbsp;Cancelar</button>
																		<button type='submit' class='btn btn-success'><i class='fa fa-save'></i> &nbsp;&nbsp; Guardar</button>
																		<button type="reset"class="btn btn-warning btn-icon"onclick="window.print()"> Imprimir <span>&nbsp;</span><i class="fa fa-print"></i> </button>
																	</div>
																</div>

															</form>
														</div>														
														
													</div>
													<div id="Tab3" class="tab-pane fade">
														<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
													</div>
												</div>
											  </div>
										</section>
									</div>
								</div>
							</div>
						</div>
						<!--\\\\\\\ container  end \\\\\\-->
					</div>
					<!--\\\\\\\ content panel end \\\\\\-->
				</div>
				<!--\\\\\\\ inner end\\\\\\-->
			</div>
			<!--\\\\\\\ wrapper end\\\\\\-->
		</div>
	</div>
	






		<!--====== Scripts -->

		<script src="/js/jquery-2.1.0.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/common-script.js"></script>
		<script src="/js/jquery.slimscroll.min.js"></script>
		<script src="/plugins/data-tables/jquery.dataTables.js"></script>
		<script src="/plugins/data-tables/DT_bootstrap.js"></script>
		<script src="/plugins/data-tables/dynamic_table_init.js"></script>
		<script src="/plugins/edit-table/edit-table.js"></script>
		<script>
			jQuery(document).ready(function () {
				EditableTable.init();
			});
		</script>

		<script src="/js/jPushMenu.js"></script>
		<script src="/js/side-chats.js"></script>
		<script type="text/javascript" src="plugins/toggle-switch/toggles.min.js"></script>

		<script src="/plugins/checkbox/zepto.js"></script>
		<script src="/plugins/checkbox/icheck.js"></script>
		<script src="/js/icheck-init.js"></script>
		<script src="/js/jquery.slimscroll.min.js"></script>
		<script src="/js/icheck.js"></script>
		<script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
		<script type="text/javascript" src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
		<script type="text/javascript" src="/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
		<script type="text/javascript" src="/js/form-components.js"></script>
		<script type="text/javascript" src="/plugins/input-mask/jquery.inputmask.min.js"></script>
		<script type="text/javascript" src="/plugins/input-mask/demo-mask.js"></script>
		<script type="text/javascript" src="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
		<script type="text/javascript" src="/plugins/dropzone/dropzone.min.js"></script>
		<script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>

		<script>



			/*==Porlets Actions==*/
			$('.minimize').click(function (e) {
				var h = $(this).parents(".header");
				var c = h.next('.porlets-content');
				var p = h.parent();

				c.slideToggle();

				p.toggleClass('closed');

				e.preventDefault();
			});

			$('.refresh').click(function (e) {
				var h = $(this).parents(".header");
				var p = h.parent();
				var loading = $('&lt;div class="loading"&gt;&lt;i class="fa fa-refresh fa-spin"&gt;&lt;/i&gt;&lt;/div&gt;');

				loading.appendTo(p);
				loading.fadeIn();
				setTimeout(function () {
					loading.fadeOut();
				}, 1000);

				e.preventDefault();
			});

			$('.close-down').click(function (e) {
				var h = $(this).parents(".header");
				var p = h.parent();

				p.fadeOut(function () {
					$(this).remove();
				});
				e.preventDefault();
			});

		</script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>   <!-- vue cdn -->
		<script src="/moment/moment.js"></script>
		<script src="/moment/locale/af.js"></script>
		<script src="/url/export.js"></script>

		<script src="/js/vue/lab_consulta_externa.js"></script>





</body>

</html>


</body>

</html>