<!DOCTYPE html>
<html lang="es">

<head>
	<link rel="icon" type="image/png" sizes="16x16" href="/images/gfu.png">
	<title>Examenes Complementarios</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta charset="UTF-8">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

		<link href="/css/moldeable.css" rel="stylesheet" type="text/css" />

	<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/animate.css" rel="stylesheet" type="text/css" />
	<link href="/css/admin.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">



	<link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
	<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />

	<style>
		div.a {
			text-align: center;
		}

		h1.letras {
			font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

		}
	</style>

</head>

<body class="light_theme  fixed_header left_nav_fixed">
	<!-- Content page-->
	<div class="wrapper" >
		<!--\\\\\\\ wrapper Start \\\\\\-->
		<div class="header_bar">
			<!--\\\\\\\ header Start \\\\\\-->
			<div class="brand">
				<!--\\\\\\\ brand Start \\\\\\-->
				<div class="logo" style="display:block"><span class="theme_color">Hospital</div>

			</div>
			<!--\\\\\\\ brand end \\\\\\-->
			<div class="header_top_bar">
				<!--\\\\\\\ header top bar start \\\\\\-->
				<a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

				<div class="top_right_bar">

					<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/user.png" /><span class="user_adminname">John Doe</span> <b class="caret"></b> </a>
						<ul class="dropdown-menu">
							<div class="top_pointer"></div>
							
							<li> <a href="login.html"><i class="fa fa-power-off"></i> Cerrar sesión</a> </li>
						</ul>
					</div>
				</div>
			</div>
			<!--\\\\\\\ header top bar end \\\\\\-->
		</div>
		<div class="inner" id="lab_consulta_externa">
			<!--\\\\\\\ inner start \\\\\\-->
			<div class="left_nav">

				<!--\\\\\\\left_nav start \\\\\\-->

				<div class="left_nav_slidebar">
					<ul>
						<li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
							<ul>
								<li> <a href=""> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b>Inicio</b> </a> </li>
							</ul>
						</li>
						<li> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Consulta Externa<span class="plus"><i class="fa fa-plus"></i></span></a>
							<ul>
								<li> <a href=""> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Listas de Citas</b> </a> </li>
							</ul>
						</li>
						<li> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Historial<span class="plus"><i class="fa fa-plus"></i></span></a>
							<ul>
								<li> <a href="/hospitalizacion/VerHistorialvis"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Última Consulta</b> </a> </li>
								
							</ul>
						</li>
						<li> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Reporte<span class="plus"><i class="fa fa-plus"></i></span></a>
							<ul>
								<li> <a href=""> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Historial Clinico</b> </a> </li>
								<li> <a href=""> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Vicitas al doctor</b> </a> </li>
								<li> <a href=""> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Recetas</b> </a> </li>
							</ul>
						</li>
						
					</ul>
				</div>
			</div>
			<!--\\\\\\\left_nav end \\\\\\-->
			<div class="contentpanel">
				<!--\\\\\\\ contentpanel start\\\\\\-->
				<div class="container clear_both padding_fix col-lg-8">
					<br>
					<div class="row">
						<div class="col-lg-12 ">
							<!--\\\\\\\ contentpanel start\\\\\\-->
							<div class="row">
								<div class="col-md-12">
									<div class="block-web">
										<div class="header">
											<div class="info blue_symbols "> <i class="fa fa-stack-overflow icon "></i>
											</div>
											<h2 class="content-header " > <span>&nbsp;&nbsp;&nbsp;</span>Orden de Examen </h2>
											<div  class="col-md-2"><br>
												<div class="">
													<a href="/medico/volver" class="list-group-item  blue_bg text-center "><i class="fa fa-hand-o-left"></i> ATRAS</a>
												</div>
											</div>
										</div>
										<br>
										<br>
										<div class="block-web">
											<div class="col-md-14">
												<div class="row">
													<div class="">

														<div class="col-sm-4">
															<label class="control-labe">Nombre del Paciente:</label>
															<input type="text" class="form-control" parsley-trigger="change" name="" required placeholder="Nombre del Paciente" />
														</div>
														<div class="col-sm-4">
															<label class="control-labe">Numero de Historial:</label>
															<input type="text" name="grupo" class="form-control" parsley-trigger="change" name="" required placeholder="Introdusca N° Historial" />
														</div>
														<div class="col-sm-4">
															<label class="control-labe">C.I.:</label>
															<input type="text" name="titulo" class="form-control" parsley-trigger="change" name="" required placeholder="Introdusca CI." />
														</div><br>
														
														
													
													</div>
												</div>

											</div>
										</div>
									</div>
									<!-- 
										<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
										<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
																						tab de laboratorios
										<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
										<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
									 -->
									<div class="col-lg-14">
										<section class="panel default blue_title h2">
											  <div class="panel-heading">LABORATORIOS<span class="semi-bold"> </span> </div>
											  <div class="panel-body">
												<ul class="nav nav-tabs" id="myTab">
													  <li class="active"><a data-toggle="tab" href="#Tab1">Ecografia</a></li>
													  <li><a data-toggle="tab" href="#Tab2">Rayos X</a></li>
													  <li><a data-toggle="tab" href="#Tab3">Laboratorios</a></li>
												</ul>
												<div class="tab-content" id="myTabContent">
													<div id="Tab1" class="tab-pane fade in active">
														<!-- 
															<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
															<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
																											ECOGRAFIA
															<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
															<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
														 -->
														 <h4>ECOGRAFIA</h4>
														 <div class="row">
															<div class="col-md-14 row">
																<form action="">
																	<div class="col-md-12 row">																
																		<div class="col-md-2 row">
																			<div class="col-md-2 ">
																				<input type="checkbox" name="hora" value="ESTUDIO HEPATOBILIAR: HÍGADO - PÁNCREAS - VESÍCULA BILIAR - VÍAS BILIARES"  style="width:20px;height:20px">
																			</div>
																			<div class=" col-md-10 row">
																				<label class=" "><FONT SIZE=1><b>1.- Estudio Hepatobiliar:</b> <br>HÍGADO - PÁNCREAS - VESÍCULA BILIAR - VÍAS BILIARES</FONT> </label>
																				<br>
																			</div>

																		</div>
																		<div class="col-md-2 row"><br>
																			<div class="col-md-2">
																				<input type="checkbox" name="hora" value="ESTUDIO NEFROLÓGICO:RIÑONES - CONDUCTOS - VEJIGA URINARIA" style="width:20px;height:20px">
																			</div>
																			<div class=" col-md-10 row">
																				<label class=" "><FONT SIZE=1><b>2.- Estudio Nefrológico:</b> <br>RIÑONES - CONDUCTOS - VEJIGA URINARIA</FONT> </label>
																				<br>
																			</div>

																		</div>
																		<div class="col-md-2 row"><br>
																			<div class="col-md-2">
																				<input type="checkbox" name="hora" value="ESTUDIO GINECOLÓGICO:ÚTERO - OVARIOS - TROMPAS - FONDO DE SACO POSTERIOR "  style="width:20px;height:20px">
																			</div>
																			<div class=" col-md-10 row">
																				<label class=" "><FONT SIZE=1><b>3.- Estudio Ginecológico:</b> <br>ÚTERO - OVARIOS - TROMPAS - FONDO DE SACO POSTERIOR </FONT> </label>
																				<br>
																			</div>

																		</div>
																		<div class="col-md-2 row"><br>
																			<div class="col-md-2">
																				<input type="checkbox" name="hora" value="ESTUDIO OBSTÉTRICO:VITALIDAD - BIOMETRÍA - PESO PLACENTA - LÍQUIDO AMNIÓTICO - SEXO"  style="width:20px;height:20px">
																			</div>
																			<div class=" col-md-10 row">
																				<label class=" "><FONT SIZE=1><b>4.- Estudio Obstétrico:</b> <br>VITALIDAD - BIOMETRÍA - PESO PLACENTA - LÍQUIDO AMNIÓTICO - SEXO</FONT> </label>
																				<br>
																			</div>

																		</div>
																		<div class="col-md-2 row"><br>
																			<div class="col-md-2">
																				<input type="checkbox" name="hora" value="ESTUDIO UROLÓGICO:PRÓSTATA - VEJIGA URINARIA - VOL DE LLENADO - VOL PORT MICCIÓN"  style="width:20px;height:20px">
																			</div>
																			<div class=" col-md-10 row">
																				<label class=" "><FONT SIZE=1><b>5.- Estudio Urológico:</b> <br>PRÓSTATA - VEJIGA URINARIA - VOL DE LLENADO - VOL PORT MICCIÓN</FONT></label>
																			<br>
																			</div>

																		</div>


																	</div>

																	<div class="col-md-12 ">
																		<label class=" ">Otros:</label><br>
																		<textarea class="large-compact" name="anamnesis"  cols="117" rows="3" class="form-control"></textarea>
																	</div>
																	
																	<div class="col-md-12 page-content ">
																		<div class="col-md-8 ">
																			<button type="reset" class="btn btn-danger" data-dismiss="modal"> <i class='fa fa-times'></i>&nbsp;&nbsp;Cancelar</button>
																			<button type='submit' class='btn btn-success'><i class='fa fa-save'></i> &nbsp;&nbsp; Guardar</button>
																			<button type="reset"class="btn btn-warning btn-icon"onclick="window.print()"> Imprimir <span>&nbsp;</span><i class="fa fa-print"></i> </button>
																		</div>
																	</div>
																</form>																	
																
																		
															</div>
														 </div>


													</div>
													<div id="Tab2" class="tab-pane fade">
														<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet</p>
													</div>
													<div id="Tab3" class="tab-pane fade">
														<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
													</div>
												</div>
											  </div>
										</section>
									</div>
								</div>
							</div>
						</div>
						<!--\\\\\\\ container  end \\\\\\-->
					</div>
					<!--\\\\\\\ content panel end \\\\\\-->
				</div>
				<!--\\\\\\\ inner end\\\\\\-->
			</div>
			<!--\\\\\\\ wrapper end\\\\\\-->
		</div>
	</div>
	






		<!--====== Scripts -->

		<script src="/js/jquery-2.1.0.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/common-script.js"></script>
		<script src="/js/jquery.slimscroll.min.js"></script>
		<script src="/plugins/data-tables/jquery.dataTables.js"></script>
		<script src="/plugins/data-tables/DT_bootstrap.js"></script>
		<script src="/plugins/data-tables/dynamic_table_init.js"></script>
		<script src="/plugins/edit-table/edit-table.js"></script>
		<script>
			jQuery(document).ready(function () {
				EditableTable.init();
			});
		</script>

		<script src="/js/jPushMenu.js"></script>
		<script src="/js/side-chats.js"></script>
		<script type="text/javascript" src="plugins/toggle-switch/toggles.min.js"></script>

		<script src="/plugins/checkbox/zepto.js"></script>
		<script src="/plugins/checkbox/icheck.js"></script>
		<script src="/js/icheck-init.js"></script>
		<script src="/js/jquery.slimscroll.min.js"></script>
		<script src="/js/icheck.js"></script>
		<script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
		<script type="text/javascript" src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
		<script type="text/javascript" src="/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
		<script type="text/javascript" src="/js/form-components.js"></script>
		<script type="text/javascript" src="/plugins/input-mask/jquery.inputmask.min.js"></script>
		<script type="text/javascript" src="/plugins/input-mask/demo-mask.js"></script>
		<script type="text/javascript" src="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
		<script type="text/javascript" src="/plugins/dropzone/dropzone.min.js"></script>
		<script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>

		<script>



			/*==Porlets Actions==*/
			$('.minimize').click(function (e) {
				var h = $(this).parents(".header");
				var c = h.next('.porlets-content');
				var p = h.parent();

				c.slideToggle();

				p.toggleClass('closed');

				e.preventDefault();
			});

			$('.refresh').click(function (e) {
				var h = $(this).parents(".header");
				var p = h.parent();
				var loading = $('&lt;div class="loading"&gt;&lt;i class="fa fa-refresh fa-spin"&gt;&lt;/i&gt;&lt;/div&gt;');

				loading.appendTo(p);
				loading.fadeIn();
				setTimeout(function () {
					loading.fadeOut();
				}, 1000);

				e.preventDefault();
			});

			$('.close-down').click(function (e) {
				var h = $(this).parents(".header");
				var p = h.parent();

				p.fadeOut(function () {
					$(this).remove();
				});
				e.preventDefault();
			});

		</script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>   <!-- vue cdn -->
		<script src="/moment/moment.js"></script>
		<script src="/moment/locale/af.js"></script>
		<script src="/url/export.js"></script>

		<script src="/js/vue/lab_consulta_externa.js"></script>





</body>

</html>


</body>

</html>