<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <%- include("../partials/head") -%>	
</head>
<body class="light_theme  fixed_header left_nav_fixed">
  <div class="wrapper">
    <!--\\\\\\\ wrapper Start \\\\\\-->
    <div class="header_bar">
      <!--\\\\\\\ header Start \\\\\\-->
      <div class="brand">
        <!--\\\\\\\ brand Start \\\\\\-->
        <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
      </div>
      <!--\\\\\\\ brand end \\\\\\-->
      <div class="header_top_bar">
        <!--\\\\\\\ header top bar start \\\\\\-->
        <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i></a>
        <div class="top_right_bar">
          <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/user.png" /><span class="user_adminname">John Doe</span> <b class="caret"></b> </a>
            <ul class="dropdown-menu">
              <div class="top_pointer"></div>
              <li> <a href="profile.html"><i class="fa fa-user"></i> Profile</a> </li>
              <li> <a href="help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
              <li> <a href="settings.html"><i class="fa fa-cog"></i> Setting </a></li>
              <li> <a href="login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
            </ul>
          </div> 
        </div>
      </div>
      <!--\\\\\\\ header top bar end \\\\\\-->
    </div>
    <!--\\\\\\\ header end \\\\\\-->
    <div class="inner">
      <!--\\\\\\\ inner start \\\\\\-->
      <div class="left_nav">
        <!--\\\\\\\left_nav start \\\\\\-->
        <div class="left_nav_slidebar">
			<ul>
			  <li class="left_nav_active theme_border"><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
				<ul>
				  <li> <a href="home"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b>Inicio</b> </a> </li>
				</ul>
			  </li>
			  <li> <a href="javascript:void(0);"> <i class="fa fa-hospital-o icon"></i>Farmacia <span class="plus"><i class="fa fa-plus"></i></span></a>
				<ul class="opened" style="display:block">
				  <li> <a href="/Farmacia/almacenamiento"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b  class="theme_color">Almacenamiento</b> </a> </li>
				  <li> <a href="/Farmacia/solicitudes"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Movimientos</b> </a> </li>
				  <li> <a href="/Farmacia/recetas_farm"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Recetas</b> </a> </li>
				  <li> <a href="/Farmacia/ventas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Ventas</b> </a> </li>
				  <li> <a href="/Farmacia/Stock_far"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Stock</b> </a> </li>
				</ul>
			  </li>
			  <li> <a href="javascript:void(0);"> <i class="fa fa-paste"></i> Reportes Farmacia<span class="plus"><i class="fa fa-plus"></i></span> </a>
				<ul>
				  	<li> <a href="/Farmacia/reportes_solicitudes"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b></b>Reportes de Sol. </a> </li>
					  <li> <a href="/Farmacia/reportes_recetas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Rec.</b> </a> </li>
					<li> <a href="/Farmacia/reportes_ventas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Ven.</b> </a> </li>
					<li> <a href="/Farmacia/reportes_cajas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Cajas</b> </a> </li>
				  	<li> <a href="/Farmacia/reportes_facturacion"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Fact.</b> </a> </li>
				  	<li> <a href="/Farmacia/kardexValorizado"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Kardex Valorizado</b> </a> </li>
				  	<li> <a href="/Farmacia/med_ven"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Med. Vencidos</b> </a> </li>
				</ul>
			  </li>
			</ul>
		  </div>
      </div>
     <!--Contenido-->
     <div class="contentpanel"><br>
		<!--\\\\\\\ contentpanel start\\\\\\-->
		<!--Formulario-->
		<div class="container clear_both padding_fix">
			<div class="row">
				<div class="col-md-12">
					<div class="block-web">
						<div class="header">
							<div class="actions"> <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a><a class="close-down" href="#"><i class="fa fa-times"></i></a> </div>
							<h3 class="content-header"> <i class="fa fa-medkit icon"></i> Registro de Medicamento</h3>
						</div>
						<div class="porlets-content">
							<div class="panel-body">
								<!-- Button trigger modal -->
								<button type="button" class="btn btn-info btn-lg mb10" onclick=location="/Farmacia/grupoAsig_Far" >Grupo de Asignacion</button>
							</div>
							<form  action="" method="POST" parsley-validate novalidate>
								<div class="col-md-12">
									<div class="col-md-4">
										<div class="form-group">
											<label >Grupo de Asignación:</label>
											<select  required class="form-control" id="source" onkeyup="mayus(this);" >
												<optgroup label="Estatus de la compra">
												<option>FACTURA</option>
												<option>BOLETA DE VENTA</option>
												<option>NOTA DE CREDITO</option>
												<option>NOTA DE DEBITO</option>
												<option>CONTROL INTERNO </option>
												</optgroup>                       
											</select>
										</div>
										<div class="form-group">
											<label>Generico:</label>
											<input type="text" name="generico" required class="form-control" onkeyup="mayus(this);">
										</div>
										<div class="form-group">
											<label>Forma Farmaceutica:</label>
											<input type="text" name="presentacion" required class="form-control" onkeyup="mayus(this);">
										</div>
									</div>  
									<div class="col-md-4">
										<div class="form-group">
											<label>Codificación:</label>
											<input type="text" name="codificacion" required class="form-control" onkeyup="mayus(this);">
										</div>
										<div class="form-group">
											<label>Unidad de Medida:</label>
											<input type="text" name="unidadMedida" required class="form-control" onkeyup="mayus(this);">
										</div>
										<div class="form-group">
											<label>Presentacion:</label>
											<input type="text" name="presentacion" required class="form-control" onkeyup="mayus(this);">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Nombre:</label>
											<input  type="text" name="nombre"  required class="form-control" onkeyup="mayus(this);">
										</div>
										<div class="form-group">
											<label>Receta de Medicamento:</label>
											<input type="text" name="concentracion" required class="form-control" onkeyup="mayus(this);">
										</div>
										<div class="form-group">
											<label>Cantidad por Unidades:</label>
											<input type="text" name="unidades" required class="form-control" onkeyup="mayus(this);">
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="col-md-6">
										<div class="form-group">
											<label>Fecha de Llegada:</label>
											<input type="date" name="fechaLLEgada" required class="form-control" onkeyup="mayus(this);">
										</div>
										<div class="form-group">
											<label>Precio de Compra:</label>
											<input type="text" name="precio" required class="form-control" onkeyup="mayus(this);">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Fecha de Vencimiento:</label>
											<input type="date" name="fechaVencimiento" required class="form-control" onkeyup="mayus(this);">
										</div>
										<div class="form-group">
											<label>Precio de Venta:</label>
											<input type="text" name="precio" required class="form-control" onkeyup="mayus(this);">
										</div>
									</div>
								</div>
								<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i>  Guardar</button>
								<button class="btn btn-danger"><i class="fa fa-times"></i> Cancelar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		<!--/row-->
      	<!--\\\\\\\ table \\\\\\-->
      	<div id="main-content">
        	<div class="page-content">
          		<div class="row">
            		<div class="col-md-12">
             			<div class="block-web">
                			<div class="header">
                  				<div class="actions"> <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a> <a class="refresh" href="#"><i class="fa fa-repeat"></i></a> <a class="close-down" href="#"><i class="fa fa-times"></i></a> </div>
                  				<h3 class="content-header">Tabla de Datos</h3>
                			</div>
                			<div class="porlets-content">
                  				<div class="table-responsive">
                    				<table  class="display table table-bordered table-striped " id="dynamic-table">
										<thead>
											<tr>
											<th>Codigo</th>
											<th>Nombre</th>
											<th>Unidad de Medida</th>
											<th>Forma Farmaceutica</th>
											<th>Cantidad en Unidad</th>
											<th>Fecha Llegada</th>
											<th>Fecha Vencimiento</th>
											<th>Precio Venta</th>
											<th>Opciones</th>
											</tr>
										</thead>
										<tbody>
											<tr>
											<td>1</td>
											<td>123</td>
											<td>a</td>
											<td>a</td>
											<td>a</td>
											<td>a</td>
											<td>a</td>
											<td>a</td>
											<td><a class="btn btn-success" href=""><i class="fa fa-refresh"></i> </a></td>
											</tr>
										<tbody>
                    				</table>
                  				</div><!--/table-responsive-->
                			</div><!--/porlets-content-->
              			</div><!--/block-web--> 
            		</div><!--/col-md-12--> 
        		</div><!--/row-->
        	</div><!--/page-content end--> 
      	</div><!--/main-content end--> 
    </div>
	<!--\\\\\\\ content panel end \\\\\\-->
</div>
</div>
<%- include("../partials/scripts") -%>
</body>
</html>

