<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <%- include("../partials/head") -%>	
</head>
<body class="light_theme  fixed_header left_nav_fixed">
  	<div class="wrapper">
    	<div class="header_bar">
      		<div class="brand">
        		<div class="logo" style="display:block"><span class="theme_color">Hospital</div>
      		</div>
      		<div class="header_top_bar">
        		<a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i></a>
        		<div class="top_right_bar">
          			<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/user.png" /><span class="user_adminname">John Doe</span> <b class="caret"></b> </a>
            			<ul class="dropdown-menu">
              				<div class="top_pointer"></div>
              				<li> <a href="profile.html"><i class="fa fa-user"></i> Profile</a> </li>
              				<li> <a href="help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
              				<li> <a href="settings.html"><i class="fa fa-cog"></i> Setting </a></li>
              				<li> <a href="login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
            			</ul>
          			</div> 
        		</div>
      		</div>
    	</div>
    	<div class="inner">
      		<div class="left_nav">
        		<div class="left_nav_slidebar">
					<ul>
			  			<li class="left_nav_active theme_border"><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
							<ul>
				  				<li> <a href="home"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b>Inicio</b> </a> </li>
							</ul>
			  			</li>
			  			<li> <a href="javascript:void(0);"> <i class="fa fa-hospital-o icon"></i>Farmacia <span class="plus"><i class="fa fa-plus"></i></span></a>
							<ul>
				  				<li> <a href="/Farmacia/almacenamiento"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Almacenamiento</b> </a> </li>
				  				<li> <a href="/Farmacia/solicitudes"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Movimientos</b> </a> </li>
				  				<li> <a href="/Farmacia/recetas_farm"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Recetas</b> </a> </li>
				  				<li> <a href="/Farmacia/ventas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Ventas</b> </a> </li>
				  				<li> <a href="/Farmacia/Stock_far"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Stock</b> </a> </li>
							</ul>
			  			</li>
			  			<li> <a href="javascript:void(0);"> <i class="fa fa-paste"></i> Reportes Farmacia<span class="plus"><i class="fa fa-plus"></i></span> </a>
							<ul class="opened" style="display:block">
				  				<li> <a href="/Farmacia/reportes_solicitudes"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b></b>Reportes de Sol. </a> </li>
					  			<li> <a href="/Farmacia/reportes_recetas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Rec.</b> </a> </li>
								<li> <a href="/Farmacia/reportes_ventas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Ven.</b> </a> </li>
								<li> <a href="/Farmacia/reportes_cajas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Cajas</b> </a> </li>
				  				<li> <a href="/Farmacia/reportes_facturacion"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Reportes de Fact.</b> </a> </li>
				  				<li> <a href="/Farmacia/kardexValorizado"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Kardex Valorizado</b> </a> </li>
				  				<li> <a href="/Farmacia/med_ven"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Med. Vencidos</b> </a> </li>
							</ul>
			  			</li>
					</ul>
		  		</div>
      		</div>
     		<!--Contenido-->
     		<div class="contentpanel"><br>
				<!--Formulario-->
				<div class="container clear_both padding_fix">
					<div class="row">
						<div class="col-md-12">
				 			<div class="block-web">
				  				<div class="header">
									<div class="actions"> <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a> <a class="refresh" href="#"><i class="fa fa-repeat"></i></a> <a class="close-down" href="#"><i class="fa fa-times"></i></a> </div>
									<h3 class="content-header"><i class="fa fa-bar-chart-o icon"></i>  Reporte de Facturas</h3>
				  				</div>
				  				<div class="porlets-content">
									<div class="panel-body">
										<!-- Button trigger modal -->
										<button data-target="#myModal2" data-toggle="modal" class="btn btn-success btn-lg mb10"> Seleccione Aqui </button>
									</div>  
									<div class="table-responsive">
										<table  class="display table table-bordered table-striped " id="dynamic-table">
					  						<thead>
					  							<tr>
           		 								<th>N° Nota</th>
           										<th>N° Orde/Autorizacion</th>
					  							<th>Razon Social</th>
					  							<th>NIT</th>
					  							<th>N° Factura</th>
					  							<th>Fecha</th>
					  							<th>Importe</th>
					  							</tr>
					  						</thead>
					  						<tbody>
					 	 						<tr>
					  							<td>1</td>
            									<td>123</td>
            									<td>a</td>
					  							<td>a</td>
					  							<td>a</td>
					  							<td>a</td>
					  							<td>a</td>
					  							</tr>
					  						<tbody>
										</table>
									</div><!--/table-responsive-->
				  				</div><!--/porlets-content-->
				  			</div><!--/block-web--> 
						</div><!--/col-md-12--> 
					</div><!--/row-->
			  	</div><!--/page-content end--> 
			</div><!--/main-content end--> 
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	  		<div class="modal-content">
				<div class="modal-header">
		  			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		  			<h4 class="modal-title" id="myModalLabel"><i class="fa fa-bar-chart-o icon"></i> Reportes de Pedidos</h4>
				</div>
				<div class="modal-body"> 
		  			<form class="form-horizontal" role="form"  parsley-validate novalidate>
						<div class="form-group">
			  				<label for="inputEmail3" required parsley-type="desde" class="col-sm-2 control-label">DESDE:</label>
				  			<div class="col-sm-4">
								<input type="date" class="form-control" >
				  			</div>
						</div><!--/form-group--> 
						<div class="form-group">
			  				<label for="inputPassword3" required parsley-type="hasta" class="col-sm-2 control-label">HASTA:</label>
			  				<div class="col-sm-4">
								<input type="date" class="form-control" >
			  				</div>
						</div><!--/form-group-->  
						<div class="form-group">
			  				<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary">Aceptar</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			  				</div>
						</div><!--/form-group--> 
		  			</form>
				</div>
		  	</div>
		</div>
	</div>
<%- include("../partials/scripts") -%>
</body>
</html>

