<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <%- include("../partials/head") -%>	
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body class="light_theme  fixed_header left_nav_fixed">
  <div class="wrapper">
    <%- include("../partials/menu") -%>
    <div class="inner">
      <div class="left_nav">
        <div class="left_nav_slidebar">
          <ul>
            <li class="left_nav_active theme_border"><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul >
                <li> <a href="home"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b>Inicio</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-hospital-o icon"></i>Almacen <span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul class="opened" style="display:block">
                <li> <a href="/almacen/grupoAsig"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Grupos de Asignacion</b> </a> </li>
                <li> <a href="/medicamento/dataGrupoA"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Medicamentos</b> </a> </li>
                <li> <a href="/proveedores/proveedores"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Proveedores</b> </a> </li>
                <li> <a href="/almacen/pedidos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Pedidos</b> </a> </li>
                <li> <a href="/distribucion/listDistribucion"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Distribucion</b> </a> </li>
                <li> <a href="/medicamento/stock"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Stock</b> </a> </li>  
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-paste"></i> Reportes Almacen<span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul>
                <li> <a href="/almacen/reportes_pedidos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b></b>Reportes de Pedidos </a> </li>
                <li> <a href="/almacen/reportes_salidas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Salidas</b> </a> </li>
                <li> <a href="/almacen/kardexValorizado"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Kardex Valorizado</b> </a> </li>
                <li> <a href="/almacen/med_ven"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Med. Vencidos</b> </a> </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>      
    </div>
    <div id="carMedicamentos">
      <div class="contentpanel"><br>
        <!--Formulario-->
        <div class="container clear_both padding_fix" >
          <div class="row">
            <div class="col-md-12">
              <div class="block-web">
                <div class="header">
                  <div class="actions"> <a class="minimize" href="#">Refresh</a><a class="refresh" href="/medicamento/volver15"><i class="fa fa-repeat"></i></a></div>
                  <h2 class="content-header"><div class="info gray_symbols"><i class="fa fa-shopping-cart icon"></i></div> Pedido /<span class="semi-bold"> Registro de Pedido</span></h2>  
                </div>
                
                <span style="color: red;">{{respuestaPost}}</span><br><br>
                <form @submit="formSubmit" method="POST" class="form-horizontal group-border-dashed"  parsley-validate novalidate>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Codigo de Compra:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" required placeholder="" v-model="codigoCompra" onkeyup="javascript:this.value=this.value.toUpperCase();" />
                    </div>
                  </div><!--/form-group-->
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Responsable:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" required v-model="responsable" onkeyup="mayus(this);" />
                    </div>
                  </div><!--/form-group-->  
                  <div class="form-group">                  
                    <label class="col-sm-3 control-label">Especifique el estatus de la compra:</label>
                    <div class="col-sm-6">
                      <select required class="form-control" id="source" v-model="boletaPago" onkeyup="mayus(this);" >
                        <optgroup label="Estatus de la compra">
                          <option>FACTURA</option>
                          <option>BOLETA DE VENTA</option>
                          <option>NOTA DE CREDITO</option>
                          <option>NOTA DE DEBITO</option>
                          <option>CONTROL INTERNO </option>
                        </optgroup>                       
                      </select>
                    </div><!--/col-sm-9-->                    
                  </div><!--/form-group--> 
                  <div class="form-group">
                    <label class="control-label col-md-3">Fecha de Pedido:</label>
                    <div class="col-md-6 col-xs-10">
                      <input type="date" value="" size="16" required class="form-control form-control-inline input-medium" v-model="fechaIngreso" onkeyup="mayus(this);">
                    </div>                      
                  </div><!--/form-group--> 
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Proveedor:</label>
                    <div class="col-sm-6">
                      <select required class="form-control" id="source" v-model="proveedor" onkeyup="mayus(this);">
                        <optgroup label="Proveedor">
                          <%if (proveedor) { %>
                            <%for(var i=0; i < proveedor.length; i++) {%>
                            <option> <%=proveedor[i].nombre%></option>
                            <% } %>
                          <% } else { %>
                            <option value="">No hay Proveedores</option>                                                           
                          <% } %>
                        </optgroup>                       
                      </select>
                    </div><!--/col-sm-9--> 
                  </div><!--/form-group--> 
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Observaciones</label>
                    <div class="col-sm-6">
                      <textarea class="form-control" v-model="Observaciones" onkeyup="javascript:this.value=this.value.toUpperCase();"></textarea>
                    </div>
                  </div>
                  <p class="text-center"> <button @click="searchInTheListMed('')" type="button" data-target="#myModal" data-toggle="modal" class="btn btn-info">Lista Productos</button></p>
                  <div class="col-lg-12"> 
                    <section class="panel default black_title h3">
                      <div class="panel-heading">
                        <span class="semi-bold">Lista Pedidos</span> 
                      </div>
                      <div class="panel-body">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                            <th>#</th>
                            <th>Cantidad del Producto</th>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Precio Toal</th>
                            <th>Eliminar</th>
                            <th>Eliminar todo</th>
                            </tr>
                          </thead>
                          <tbody v-for="(car, index) in listItems">                                                    
                            <tr>
                            <td>{{index}}</td>
                            <td>{{car.qty}}</td>
                            <td>{{car.item.codificacion}}</td>
                            <td>{{car.item.nombre}}</td>
                            <td>{{car.item.cantidad}}</td>
                            <td>{{car.item.price}}</td>
                            <td>{{car.price}}</td>
                            <td> <a @click="reduceByOne(car.item.id)">Reducir</a></td>
                            <td><a @click="removeItem(car.item.id)">Eliminar</a></td>                                                        
                            </tr>                                                   
                          </tbody>
                        </table>
                      </div>
                    </section>
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class="col-sm-9">
                          <div class="input-group"> <span class="input-group-addon">Cantidad:</span>
                            <input type="text" class="form-control"  disabled="" v-model="totalPrice">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="col-md-4">
                        <div class="form-group">
                          <div class="col-sm-9">
                            <div class="input-group"> <span class="input-group-addon">S/ Sub Total:</span>
                              <input type="text" class="form-control"  disabled="" v-model="totalPrice">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <div class="col-sm-9">
                            <div class="input-group"> <span class="input-group-addon">S/ IVA:</span>
                              <input type="text" class="form-control"  disabled="" v-model="totalPrice * 0.13">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <div class="col-sm-9">
                            <div class="input-group"> <span class="input-group-addon">Total:</span>
                              <input type="text" class="form-control" disabled="" v-model="totalPrice + totalPrice * 0.13">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-0 col-sm-10"> 
                      <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Guardar</button>
                      <a type="reset" class="btn btn-danger" href="/pedidos/volver"><i class="fa fa-times"></i> Cancelar</a>
                    </div>
                  </div><!--/form-group--> 
                </form>
              </div><!--/porlets-content-->
            </div><!--/block-web--> 
          </div><!--/col-md-12--> 
        </div><!--/row-->   
        <!--Modal-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-medkit"> Lista de Productos </i></h4>
              </div>
              <div class="row">
                <!--/////////////table-->
                <div class="col-xs-10 col-md-offset-1">
                  <span style="color: red;">{{alert}}</span>
                  <span style="color: blue;">{{pass}}</span>
                  <br>
                  <label><i class="fa fa-search"> buscar </i></label>
                  <div class="control is-grouped">
                    <p class="control is-expanded">
                      <input class="input" v-model="searchMed" v-on:keyup="searchInTheListMed(searchMed)" type="text" placeholder="Puede buscar por el Nombre y la Presentacion">
                      <a class="button is-primary" v-on:click="clearSearchItemMed" v-bind:class="{'is-disabled': searchMed==''}">Limpiar</a><br>
                      <span class="help is-dark"><strong>{{filteredMeds.length | numeral}}</strong> de {{ListMedicamentos.length | numeral}} Medicamentos Encontrados</span>
                    </p>
                  </div>
                </div> 
                <div class="col-xs-10 col-md-offset-1">
                  <nav class="pagination m-pagination">
                    <a class="button" v-on:click="selectPageMed(paginationMeds.currentPage-1)" v-bind:class="{'is-disabled': this.paginationMeds.currentPage==paginationMeds.ListMedicamentos[0] || paginationMeds.ListMedicamentos.length==0}">Anterior</a>
                    <a class="button" v-on:click="selectPageMed(paginationMeds.currentPage+1)" v-bind:class="{'is-disabled': this.paginationMeds.currentPage==paginationMeds.ListMedicamentos[paginationMeds.ListMedicamentos.length-1] || paginationMeds.ListMedicamentos.length==0}">Siguiente</a>
                    <ul>
                      <li>
                        <a class="button" v-on:click="selectPageMed(paginationMeds.ListMedicamentos[0])" v-bind:class="{'is-disabled': this.paginationMeds.currentPage==this.paginationMeds.ListMedicamentos[0] || this.paginationMeds.ListMedicamentos.length==0}"><<</a>
                      </li>
                      <li class="is-space"></li>
                      <li v-for="item in paginationMeds.filteredMeds">
                        <a class="button" v-on:click="selectPageMed(item)" v-bind:class="{'is-info': item == paginationMeds.currentPage}">{{item | numeral}}</a>
                      </li>
                      <li class="is-space"></li>
                      <li>
                        <a class="button" v-on:click="selectPageMed(paginationMeds.ListMedicamentos[paginationMeds.ListMedicamentos.length-1])" v-bind:class="{'is-disabled': this.paginationMeds.currentPage==this.paginationMeds.ListMedicamentos[this.paginationMeds.ListMedicamentos.length-1] || this.paginationMeds.ListMedicamentos.length==0}">>></a>
                      </li>
                    </ul>
                  </nav>
                </div>
                <div class="col-xs-10 col-md-offset-1">
                  <table class="table is-bordered is-striped is-narrow">
                    <thead>
                      <tr>
                      <th>Option</th>
                      <th>Cantidad</th>												
                      <th>Nombre</th>
                      <th>Precentacion</th>
                      <th>Cantidad</th>   
                      </tr>
                    </thead>
                    <tbody v-for="(med, index) in paginatedMeds">
                      <tr>
                      <td><a @click="insertar(med.id, med.cant)" class="btn btn-success btn-raised btn-xs">Insertar</a> </td>		
                      <td><input type="number" v-model="med.cant" class="col-sm-7"></td>										
                      <td>{{med.nombre}}</td>
                      <td>{{med.presentacion}}</td>
                      <td>{{med.unidades}}</td>
                      </tr>
                    </tbody>
                  </table>   
                </div>
                <!-- ////////-->
              </div>
              <div class="modal-footer">
                <button type="" class="btn btn-info" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include("../partials/scripts") -%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.5.3/numeral.min.js"></script>   
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js"></script>
<script src="/js/vue/pedidos.js"></script>
</body>
</html>