<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("../partials/head") -%>
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
			</ul>
        </nav>
        <!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
				<h1 class="text-titles"><i class="zmdi zmdi-file zmdi-hc-fw"></i>Reportes de Salidas</h1>
			</div>
		</div>
		<div class="container-fluid">
			<p class="text-center">
				<div id="correo">
					<div class="entrada text-center">Distribucion <i class="zmdi zmdi-accounts-alt zmdi-hc-fw"></i><br>
						<select class="selectpicker"  multiple="" data-live-search="true" data-live-search-placeholder="Buscar" tabindex="-98">
							<optgroup label="Reciben:">
							<option>Farmacia</option>
							<option>Emergencias</option>
							<option>Bodega</option>
							<option>jefe de Farmacia</option>
							</optgroup>
						</select><br>
					</div>
					<div class="entrada">Desde: <i class="zmdi zmdi-calendar"></i><br>
						<input type="date" name="desde"><br>
					</div>
					<div class="entrada"><br>
						<button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success btn-raised btn-lg"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button><br>
					</div>
					<div class="entrada">Hasta:<i class="zmdi  zmdi-calendar-alt"></i><br>
						<input type="date" name="hasta"><br>
					</div>
				</div>
			</p>
			<div id="correo">
				<div class="entrada "><br>
					<select  name="state" id="maxRows">
						<option value="10">10</option>
						<option value="15">15</option>
						<option value="20">20</option>
						<option value="50">50</option>
						<option value="70">70</option>
						<option value="100">100</option>
						<option value="5000">Show ALL Rows</option>
					</select><br>
				</div>
				<div class="entrada">Buscar <i class="zmdi zmdi-search"></i><br>
					<input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Buscar.." ><br>
				</div>
			</div>
		</div>
		<div class="table-responsive">
			<div class="table-wrapper">
				<table class=" table  fl-table" id= "table-id" >
					<thead>
						<tr>
						<th>Fecha</th>
						<th>Codigo de Distribucion</th>
						<th>Responsable</th>
						<th>Distribuido</th>
						<th>Medicamento</th>
						<th>Codigo de Medicamento</th>
						<th>Precio de Compra</th>
						<th>Precio de Venta</th>
						<th>Stock Total</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>1</td>
						<td>123</td>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						<td>a</td>
						</tr>
					<tbody>
				</table>
			</div>
		</div>
		<div class="container-fluid">
			<div class='pagination-container'>
				<nav>
					<ul class="pagination"></ul>
				</nav>
			</div>
			<div class="rows_count">Showing 11 to 20 of 91 entries</div>
		</div>
	</section>
	<!--====== Scripts -->
	<%- include("../partials/scripts") -%>
</body>
</html>