<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/gfu.png">
	<title>Introdusir</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta charset="UTF-8">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">


	<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/animate.css" rel="stylesheet" type="text/css" />
	<link href="/css/admin.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">



<link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
<link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />

	<style>
		div.a {
			text-align: center;
		}

		h1.letras {
			font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

		}
	</style>
	
</head>

<body class="light_theme  fixed_header left_nav_fixed">
	<!-- Content page-->
	<div class="wrapper">
		<!--\\\\\\\ wrapper Start \\\\\\-->
		<div class="header_bar">
			<!--\\\\\\\ header Start \\\\\\-->
			<div class="brand">
				<!--\\\\\\\ brand Start \\\\\\-->
				<div class="logo" style="display:block"><span class="theme_color">Hospital</div>

			</div>
			<!--\\\\\\\ brand end \\\\\\-->
			<div class="header_top_bar">
				<!--\\\\\\\ header top bar start \\\\\\-->
				<a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

				<div class="top_right_bar">

					<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
								src="/images/user.png" /><span class="user_adminname">John Doe</span> <b
								class="caret"></b> </a>
						<ul class="dropdown-menu">
							<div class="top_pointer"></div>
							<li> <a href="profile.html"><i class="fa fa-user"></i> Profile</a> </li>
							<li> <a href="help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
							<li> <a href="settings.html"><i class="fa fa-cog"></i> Setting </a></li>
							<li> <a href="login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
						</ul>
					</div>
				</div>
			</div>
			<!--\\\\\\\ header top bar end \\\\\\-->
		</div>
		<div class="inner">
			<!--\\\\\\\ inner start \\\\\\-->
			<div class="left_nav">

				<!--\\\\\\\left_nav start \\\\\\-->

				<div class="left_nav_slidebar">
					<ul>
						<li ><a href="javascript:void(0);"><i
									class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span
									class="plus"><i class="fa fa-plus"></i></span> </a>
							<ul >
								<li> <a href=""> <span>&nbsp;</span> <i
											class="fa fa-circle "></i> <b >Inicio</b> </a> </li>
							</ul>
						</li>
						<li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Laboratorio<span
									class="plus"><i class="fa fa-plus"></i></span></a>
							<ul class="opened" style="display:block">
								<li> <a href=""> <span>&nbsp;</span> <i
											class="fa fa-circle"></i> <b class="theme_color">Lista de Laboratorios</b>
									</a> </li>
							</ul>
						</li>
						

					</ul>
				</div>
			</div>
			<!--\\\\\\\left_nav end \\\\\\-->
			<div class="contentpanel">
				<!--\\\\\\\ contentpanel start\\\\\\-->
				<div class="container clear_both padding_fix col-lg-8">
					<br>
					<br>
					<br>
					<div class="row">

						<div class="col-lg-12 ">
							

      <!--\\\\\\\ contentpanel start\\\\\\-->
      <div class="row">
            <div class="col-md-12">
              <div class="block-web">
                    <div class="header">
                            <div class="info blue_symbols "> <i class="fa fa-stack-overflow icon "></i></div>
                            <h3 class="content-header " class="text-titles"><span>&nbsp;&nbsp;&nbsp;</span>Radiografia </h3>
                        </div>
                <br>
                <br>
                <div class="porlets-content">
                    <div class="form-group">
                        <div class="row">
            
                 
                    <div class="form-group">
                      <div class="col-sm-4">
                        <label class="control-labe">Nombre del Paciente:</label>
                        <input type="text"  class="form-control" parsley-trigger="change"  name="" required placeholder="Nombre del Paciente" />
                      </div>
                      <div class="col-sm-4">
                        <label class="control-labe">Numero de Historial:</label>
                        <input type="text" name="grupo" class="form-control" parsley-trigger="change" name="" required placeholder="Introdusca N° Historial" />
                      </div>
                      <div class="col-sm-4">
                        <label class="control-labe">C.I.:</label>
                        <input type="text" name="titulo" class="form-control" parsley-trigger="change"  name="" required placeholder="Introdusca CI." />
                      </div>

                      <div class="col-md-6">
                            <div class="block-web">
                              <div class="header">
                               <h3 class="content-header">Subir la Radiografia</h3>
                              </div>
                              <div class="porlets-content">
                                
								<br>
                                <form class="dropzone dz-clickable" action="http://riaxe.com/file/post">
                                  
                               
							</div><!--/porlets-content--> 
                            </div><!--/block-web--> 
						  </div><!--/col-md-6-->
						  
						  <div class="col-md-6">
								<div class="block-web">
								  <div class="header">
								   <h3 class="content-header">Detalles</h3>
								  </div>
								  <div class="porlets-content">
									
										<div class="col-sm-4">
												<label class="control-labe">Descripción:</label>
												<textarea class="large-compact" name="diagnostico" cols="50" rows="10"></textarea>
												<input type="text" name="titulo" class="form-control" parsley-trigger="change"  name="" required placeholder="Introdusca CI." />
											  </div>
								</div><!--/porlets-content--> 
								</div><!--/block-web--> 
							  </div><!--/col-md-6-->


                    </div>
                    <div class="form-group"><br>
                      <div class="col-sm-offset-4 col-sm-10">
                        <button type="" class="btn btn-success btn-icon">Buscar<span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
                        <button type="reset"class="btn btn-danger btn-icon">Cancelar <span>&nbsp;</span><i class="fa fa-times"></i></button>
                      </div>
                    </div>
                 </div>
                 </div>
                 
                  </div>
              </div>
            </div>
          </div>

						

						</div>

					</div>

					<!--\\\\\\\ container  end \\\\\\-->
				</div>
				<!--\\\\\\\ content panel end \\\\\\-->
			</div>
			<!--\\\\\\\ inner end\\\\\\-->
		</div>
		<!--\\\\\\\ wrapper end\\\\\\-->







		<!--====== Scripts -->
		
		<script src="/js/jquery-2.1.0.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/common-script.js"></script>
		<script src="/js/jquery.slimscroll.min.js"></script>
		<script src="/plugins/data-tables/jquery.dataTables.js"></script>
		<script src="/plugins/data-tables/DT_bootstrap.js"></script>
		<script src="/plugins/data-tables/dynamic_table_init.js"></script>
		<script src="/plugins/edit-table/edit-table.js"></script>
		<script>
			jQuery(document).ready(function () {
				EditableTable.init();
			});
		</script>

		<script src="/js/jPushMenu.js"></script>
        <script src="/js/side-chats.js"></script>
        <script type="text/javascript"  src="plugins/toggle-switch/toggles.min.js"></script> 

<script src="/plugins/checkbox/zepto.js"></script>
<script src="/plugins/checkbox/icheck.js"></script>
<script src="/js/icheck-init.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/icheck.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script> 
<script type="text/javascript" src="/js/form-components.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/jquery.inputmask.min.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/demo-mask.js"></script> 
<script type="text/javascript"  src="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script> 
<script type="text/javascript"  src="/plugins/dropzone/dropzone.min.js"></script> 
<script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>

<script>
/*==Porlets Actions==*/
    $('.minimize').click(function(e){
      var h = $(this).parents(".header");
      var c = h.next('.porlets-content');
      var p = h.parent();
      
      c.slideToggle();
      
      p.toggleClass('closed');
      
      e.preventDefault();
    });
    
    $('.refresh').click(function(e){
      var h = $(this).parents(".header");
      var p = h.parent();
      var loading = $('&lt;div class="loading"&gt;&lt;i class="fa fa-refresh fa-spin"&gt;&lt;/i&gt;&lt;/div&gt;');
      
      loading.appendTo(p);
      loading.fadeIn();
      setTimeout(function() {
        loading.fadeOut();
      }, 1000);
      
      e.preventDefault();
    });
    
    $('.close-down').click(function(e){
      var h = $(this).parents(".header");
      var p = h.parent();
      
      p.fadeOut(function(){
        $(this).remove();
      });
      e.preventDefault();
    });

</script>





</body>
</html>


</body>

</html>