<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/gfu.png">
	<title>busca paciente</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta charset="UTF-8">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

        <%- include("./partials/head") -%>
	
</head>

<body class="light_theme  fixed_header left_nav_fixed">
	<!-- Content page-->
	<div class="wrapper">
		<!--\\\\\\\ wrapper Start \\\\\\-->
		<div class="header_bar">
			<!--\\\\\\\ header Start \\\\\\-->
			<div class="brand">
				<!--\\\\\\\ brand Start \\\\\\-->
				<div class="logo" style="display:block"><span class="theme_color">Hospital</div>

			</div>
			<!--\\\\\\\ brand end \\\\\\-->
			<div class="header_top_bar">
				<!--\\\\\\\ header top bar start \\\\\\-->
				<a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

				<div class="top_right_bar">

					<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
								src="/images/user.png" /><span class="user_adminname">John Doe</span> <b
								class="caret"></b> </a>
						<ul class="dropdown-menu">
							<div class="top_pointer"></div>
							<li> <a href="profile.html"><i class="fa fa-user"></i> Profile</a> </li>
							<li> <a href="help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
							<li> <a href="settings.html"><i class="fa fa-cog"></i> Setting </a></li>
							<li> <a href="login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
						</ul>
					</div>
				</div>
			</div>
			<!--\\\\\\\ header top bar end \\\\\\-->
		</div>
		<div class="inner">
			<!--\\\\\\\ inner start \\\\\\-->
			<div class="left_nav">

				<!--\\\\\\\left_nav start \\\\\\-->

				<div class="left_nav_slidebar">
					<ul>
						<li ><a href="javascript:void(0);"><i
									class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span
									class="plus"><i class="fa fa-plus"></i></span> </a>
							<ul >
								<li> <a href=""> <span>&nbsp;</span> <i
											class="fa fa-circle "></i> <b >Inicio</b> </a> </li>
							</ul>
						</li>
						<li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Laboratorio<span
									class="plus"><i class="fa fa-plus"></i></span></a>
							<ul class="opened" style="display:block">
								<li> <a href=""> <span>&nbsp;</span> <i
											class="fa fa-circle"></i> <b class="theme_color">Lista de Ecografía</b>
									</a> </li>
							</ul>
						</li>
						

					</ul>
				</div>
			</div>
			<!--\\\\\\\left_nav end \\\\\\-->
			<div class="contentpanel">
				<!--\\\\\\\ contentpanel start\\\\\\-->
				<div class="container clear_both padding_fix col-lg-8">
					<br>
					
					<div class="">

						<div class=" ">
						    <di class=" col-lg-12 block-web ">
                            <!--\\\\\\\ contentpanel start\\\\\\-->
                                <div class="header">
                                    <div class="info blue_symbols "> <i class="fa fa-stack-overflow icon "></i></div>
                                    <h3 class="content-header " class="text-titles"><span>&nbsp;&nbsp;&nbsp;</span>Lista de Ecografía </h3>
                                </div>
                            </di>	

     
     
            <div class="main-contentt">
                <div class="row">
                    <div class="">
                        <section class="panel default blue_title h2">
                            <div class="panel-body">
                                <ul class="nav nav-tabs" id="myTab">
                                    <li class=" col-lg-6 active active  text-center"><a data-toggle="tab" href="#Tab1"> <i class="fa fa-list-alt "></i><span>&nbsp;&nbsp;&nbsp;</span>Ecografía en Espera</a></li>
                                    <li class="col-lg-6 text-center" ><a  data-toggle="tab" href="#Tab2" > <i class="fa fa-medkit "></i><span>&nbsp;&nbsp;&nbsp;</span>Ecografías Entregadas </a></li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div id="Tab1" class="tab-pane fade in active">
                                        <div class="row" >
                                            <div class="col-md-12">
                                                <div class="block-web">
                                                    <div class="porlets-content">
                                                        <div class="table-responsive">
                                                            <table  class="display table table-bordered table-striped" id="dynamic-table">
                                                                <thead>
                                                                    <tr>
                                                                        <th >#</th>
                                                                        <th >N° Historia </th>
                                                                        <th >Nombre Completo</th>
                                                                        <th >C.I.</th>
                                                                        <th >Tipo de Orden</th>	
                                                                        <th >Fecha de la Orden</th>	
                                                                        <th >Opciones </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    
                                                                    <tr>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="text-center"><a  href="/paciente/IntroduceEC" data-toggle="tooltip" class="btn  tooltips" data-original-title="Registrar_Consulta"><i class="fa fa-pencil-square-o" style="color:green"></i></a><span>&nbsp;</span>
                                                                    </tr>
                                                                  
                                                                    
                                                                   
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                                            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="Tab2" class="tab-pane fade">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="block-web">
                                                    <div class="porlets-content">
                                                        <div class="table-responsive">
                                                            <table  class="display table table-bordered table-striped" id="dynamic-table2">
                                                                <thead>
                                                                    <tr>
                                                                        <th >#</th>
                                                                        <th >N° Historia </th>
                                                                        <th >Nombre Completo</th>
                                                                        <th >C.I.</th>
                                                                        <th >Tipo de Orden</th>	
                                                                        <th >Fecha de la Orden</th>	
                                                                        <th >Opciones </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    
                                                                    <tr>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td class="text-center" ><a href="" data-toggle="tooltip" class="btn  tooltips" data-original-title="Ver"><i class="fa fa-eye " style="color:green"></i></a><span>&nbsp;</span></td>
                                                                    </tr>
                                                               
                                                                    
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
        </div>

						

						</div>

					</div>

					<!--\\\\\\\ container  end \\\\\\-->
				</div>
				<!--\\\\\\\ content panel end \\\\\\-->
			</div>
			<!--\\\\\\\ inner end\\\\\\-->
		</div>
		<!--\\\\\\\ wrapper end\\\\\\-->







		<!--====== Scripts -->

        <script src="/js/jquery-2.1.0.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/common-script.js"></script>
        <script src="/js/jquery.slimscroll.min.js"></script>
        <script type="text/javascript"  src="/plugins/toggle-switch/toggles.min.js"></script> 
        <script src="/plugins/checkbox/zepto.js"></script>
        <script src="/plugins/checkbox/icheck.js"></script>
        <script src="/js/icheck-init.js"></script>
        <script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> 
        <script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> 
        <script type="text/javascript" src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> 
        <script type="text/javascript" src="/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script> 
        <script type="text/javascript" src="/js/form-components.js"></script> 
        <script type="text/javascript"  src="/plugins/input-mask/jquery.inputmask.min.js"></script> 
        <script type="text/javascript"  src="/plugins/input-mask/demo-mask.js"></script> 
        <script type="text/javascript"  src="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script> 
        <script type="text/javascript"  src="/plugins/dropzone/dropzone.min.js"></script> 
        <script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>
        
        
        
        <script src="/plugins/validation/parsley.min.js"></script>
        <script src="/plugins/data-tables/jquery.dataTables.js"></script>
        <script src="/plugins/data-tables/DT_bootstrap.js"></script>
        <script src="/plugins/data-tables/dynamic_table_init.js"></script>
        <script src="/plugins/edit-table/edit-table.js"></script>
        <script>
                  jQuery(document).ready(function() {
                      EditableTable.init();
                  });
         </script>
        <script>
        
        
        /*==Porlets Actions==*/
            $('.minimize').click(function(e){
              var h = $(this).parents(".header");
              var c = h.next('.porlets-content');
              var p = h.parent();
              
              c.slideToggle();
              
              p.toggleClass('closed');
              
              e.preventDefault();
            });
            
            $('.refresh').click(function(e){
              var h = $(this).parents(".header");
              var p = h.parent();
              var loading = $('&lt;div class="loading"&gt;&lt;i class="fa fa-refresh fa-spin"&gt;&lt;/i&gt;&lt;/div&gt;');
              
              loading.appendTo(p);
              loading.fadeIn();
              setTimeout(function() {
                loading.fadeOut();
              }, 1000);
              
              e.preventDefault();
            });
            
            $('.close-down').click(function(e){
              var h = $(this).parents(".header");
              var p = h.parent();
              
              p.fadeOut(function(){
                $(this).remove();
              });
              e.preventDefault();
            });
        
        </script>
        
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="/js/jPushMenu.js"></script> 
        <script src="/js/side-chats.js"></script>
        
        </body>
        </html>
        